{% extends 'EnglishCoursesBundle:Course:layout.html.twig' %}
 
{% block body %}

<div class="row"><div class="cell"><a href="{{ path('course_new') }}">New</a></div></div>
    
    {% for entity in entities %}
        <div class="row">
            <div class="cell">{{ entity.courseName }}</div>
            <div class="cell">{{ entity.instructorName }}</div>
            <div class="cell">{{ entity.callNumber }} {{ entity.callNumber2 }}</div>
            <div class="cell">{{ entity.room }}</div>
            <div class="cell">{{ entity.days }}</div>
            <div class="cell">{{ entity.term }}</div>
            <div class="cell">{{ entity.time }}</div>
            <div class="cell">{{ entity.building }}</div>
            <div class="cell">{{ entity.period }}</div>           
            <div class="cell">{{ entity.area }}</div>
            <div class="cell">{{ entity.may }}</div>
            <div class="cell">
                        <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                        <a href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
