{% extends 'EnglishMajornotesBundle:Majornote:layout.html.twig' %}
 
{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block body %}
<script language="javascript"> 
$(document).ready(function()
{
$('#english_majornotesbundle_majornotetype_notes').ckeditor( function() {}, {height:150,width:800, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','Smiley','SpecialChar','RemoveFormat'],
],} );
});
</script>

<div class="row">
    <div class="cell"><a href="{{ path('majornote') }}">List</a></div>   
</div>

<div class="row">
    <div class="cell">
        <form action="{{ path('majornote_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <button type="submit">Update</button>
        </form>
    </div>    
</div>

<div class="row">
    <div class="cell"> 
        <form action="{{ path('majornote_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }} 
        <button type="submit">Delete</button> 
        </form>
    </div>
</div>

{% endblock %}
