 {% extends 'EnglishMajornotesBundle:Majornote:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('majornote_new') }}">New</a></div></div>
    
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('majornote_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{{ entity.mentorId }}</div>
            <div class="cell">{{ entity.mentor }}</div>
            <div class="cell">{{ entity.notes }}</div>
            <div class="cell">
                <a href="{{ path('majornote_show', { 'id': entity.id }) }}">show</a>
                <a href="{{ path('majornote_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    


{% endblock %}
