 {% extends 'EnglishMajornotesBundle:Majornote:layout.html.twig' %}
 
 {% block body %}

        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Mentorid</div>
            <div class="cell">{{ entity.mentorId }}</div>
        </div>
        <div class="row">
            <div class="cell">Mentor</div>
            <div class="cell">{{ entity.mentor }}</div>
        </div>
        <div class="row">
            <div class="cell">Notes</div>
            <div class="cell">{{ entity.notes }}</div>
        </div>

    
        <a href="{{ path('majornote') }}">
            Back to the list
        </a>
    
    
        <a href="{{ path('majornote_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    
    
        <form action="{{ path('majornote_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    

{% endblock %}
