{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#confirm').toggle();
        });
    </script>
{% endblock %}

{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation" style="margin-top: 30px;margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Files of Searches</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('label_new') }}">Create a Label</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_SEARCHADMIN') %}
                        <li><a href="{{ path('file_upload') }}">Upload</a></li>
                    {% endif %}
                    {% if app.request.get('_route')=='file' %}

                        {% for label in labels %}
                            <li>
                                <a title="{{ label.name }}"
                                   href="{{ path('file', {'section': 'search', 'labelid':label.id}) }}">{{ label.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

{% endblock %}