 {% extends 'EnglishAreasBundle:Area:layout.html.twig' %}
 
 {% block body %}
<div class="row divider"><div class="cell"><a href="{{ path('area_new') }}">Add Area for Faculty Listings</a></div></div>


    
    {% for entity in entities %}
        <div class="row">
            <div class="cell">{{ entity.area }}</div>
            <div class="cell">
            <a href="{{ path('area_edit', { 'id': entity.id }) }}">Edit</a>
            </div>
            
        <div id="delete{{entity.id}}" class="cell"> 
        <button onclick="$('#confirm{{entity.id}}').toggle();$('#delete{{entity.id}}').toggle()" type="submit">Delete</button> 
        </div>
            
        <div id="confirm{{entity.id}}" class="cell hidden"> 
        <form action="{{ path('area_delete', { 'id': entity.id}) }}" method="post">
        {{ form_widget(delete_form) }} 
        <button type="submit">Confirm Delete</button> 
        </form>
        <button onclick="$('#confirm{{entity.id}}').toggle();$('#delete{{entity.id}}').toggle()" type="submit">Cancel</button>         
        </div>          
        </div>
     
            

    {% endfor %}
      
{% endblock %}

