 {% extends 'EnglishAreasBundle:Area:layout.html.twig' %}
 
 {% block body %}
<div class="row"><div class="cell"><a href="{{ path('area_new') }}">New</a></div></div>

<table class="records_list">
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('area_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.area }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('area_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('area_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>



  
{% endblock %}
