{% extends 'EnglishPositionBundle::subnav.html.twig' %}

{% block content %}
        <form class="" action="{{ path('position_update', { 'id': position.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <button class="btn btn-default" type="submit">Update</button>
        </form>
        <div id="delete" class="pull-right">
            <button class="btn btn-warning" onclick="$('#confirm').toggle();$('#delete').toggle()" type="submit">Delete</button>
        </div>

        <div id="confirm" class="pull-right">
            <form action="{{ path('position_delete', { 'id': position.id}) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-warning"type="submit">Confirm Delete</button>
            </form>
            <button class="btn btn-default" onclick="$('#confirm').toggle();$('#delete').toggle()" type="submit">Cancel</button>
        </div>
{% endblock %}

