{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#confirm').toggle();
            $( "#english_calendarbundle_calendartype_date" ).datepicker();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishhome/css/jquery-ui.min.css') }}">
{% endblock %}

{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation" style="margin-top: 30px;margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Calendar</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('calendar_new') }}">New Entry for the Dept. Calendar</a>
                    </li>
                    <li>
                        <a href="{{ path('calendar_byuser') }}">List My Calendar Events</a>
                    </li>
                    <li>
                        <a href="{{ path('calendar') }}">List All Calendar Events</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

{% endblock %}