{% extends 'EnglishPagesBundle::subnav.html.twig' %}

{% block content %}

    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar" class="sidebar-offcanvas">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked">
                        <li class="" style="margin-top: 10px;">
                            {{ page.section.info|raw }}
                        </li>
                        {% for page in menu %}
                            {% set previouspage = loop.index0 - 1 %}
                            {% set followingpage = loop.index0 + 1 %}
                            <li>
                                {% if page.children|length > 0  %}
                                    <a class="active" data-toggle="collapse" data-target="#page_sub{{ page.id }}" id="page{{ page.id }}" style="display: inline-block" href="javascript:void(0);">{{ page.menuname }}</a>
                                {% elseif (page.link is null or page.link == '') %}
                                    <a class="active" data-toggle="collapse" data-target="#page_sub{{ page.id }}" id="page{{ page.id }}" style="display: inline-block" href="{{ path('pages_show', { 'id': page.id, 'sub':page.section.name }) }}">{{ page.menuname }}</a>
                                {% else %}
                                    <a style="display: inline-block" target="_blank" href="{{ page.link }}">{{ page.menuname }}</a>
                                {% endif %}
                                {% if page.children|length > 0  %}
                                    <ul id='page_sub{{ page.id }}' class="collapse">
                                        {% for page in page.children  %}
                                            <li>
                                                {% if (page.link is null or page.link == '') %}
                                                    <a style="display: inline-block" href="{{ path('pages_show', { 'id': page.id, 'sub':page.section.name }) }}">{{ page.menuname }}</a>
                                                {% else %}
                                                    <a style="display: inline-block" target="_blank" href="{{ page.link }}">{{ page.menuname }}</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if (is_granted('ROLE_PAGEADMIN') )or page.user==app.user %}
                                    <span class="pull-right">
                            {% if not loop.first %}
                                <a style="display:inline;padding:0"
                                   href="{{ path('page_promote', { 'pageid':page.id, 'previouspageid':page.section.pages[previouspage].id}) }}">
                                    <i class="glyphicon glyphicon-chevron-up small"></i>
                                </a>
                            {% endif %}
                                        {% if not loop.last %}
                                            <a style="display:inline;padding:0"
                                               href="{{ path('page_demote', { 'pageid':page.id, 'followingpageid':page.section.pages[followingpage].id}) }}">
                                                <i class="glyphicon glyphicon-chevron-down small"></i>
                                            </a>
                                        {% endif %}
                        </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i>Menu</button>
                </p>
                <div class="row">
                    <div class="col-md-12"><div class="well" style="min-height: 85vh; padding-top: 20px; padding: 40px;">
                            {% if section.masthead!='' %}
                                <div class="">
                                    <img src="{{ section.masthead}}" class="img-responsive" alt="{{ section.name }} masthead">
                                </div>
                            {% endif %}
                            {% if (is_granted('ROLE_PAGEADMIN') )or page.user==app.user %}
                                <span class="pull-right">
               <a class="btn btn-default" style="display: inline-block" title="Edit this page" href="{{ path('pages_edit', { 'id':page.id}) }}">Edit</a>
            </span>
                            {% endif %}
                            {{ page.pageBody|raw }}
                        </div></div>
                </div>
            </div>
        </div>
    </div><!--/row-offcanvas -->

{% endblock %}


