 {% extends 'EnglishMentorsBundle:Mentor:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('mentor_new') }}">New</a></div></div>
    
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('mentor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{{ entity.name }}</div>
            <div class="cell">{{ entity.username }}</div>
            <div class="cell">
                <a href="{{ path('mentor_show', { 'id': entity.id }) }}">show</a>
                <a href="{{ path('mentor_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
