{% extends 'EnglishMentorsBundle:Mentor:layout.html.twig' %}
 
{% block body %}
<div class="row"><div class="cell"><a href="{{ path('mentor') }}">List</a></div></div>   
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Name</div>
            <div class="cell">{{ entity.name }}</div>
        </div>
        <div class="row">
            <div class="cell">Username</div>
            <div class="cell">{{ entity.username }}</div>
        </div>

<div class="row"><div class="cell"><a href="{{ path('mentor_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('mentor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 
    

{% endblock %}
