 {% extends 'EnglishSlideshowBundle:Slideshow:layout.html.twig' %}
 
 {% block body %}

<div class="row divider"><div class="cell"><a href="{{ path('slideshow_new') }}">New Slideshow Image</a></div></div>

    {% for entity in entities %}
        <div class="row">
            <div class="cell">{{ entity.photoUrl }}</div>
            <div class="cell bold width200"><a href="{{ path('slideshow_show', { 'id': entity.id }) }}">{{ entity.title }}</a></div>
            <div class="cell">
                <a href="{{ path('slideshow_edit', { 'id': entity.id }) }}">Update/Delete</a>
            </div>
        </div>
    {% endfor %}
    


{% endblock %}

