{% extends 'EnglishSlideshowBundle:Slideshow:layout.html.twig' %}
 
{% block body %}
<div class="row"><div class="cell"><a href="{{ path('slideshow') }}">List</a></div></div>
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Photourl</div>
            <div class="cell">{{ entity.photoUrl }}</div>
        </div>
        <div class="row">
            <div class="cell">Title</div>
            <div class="cell">{{ entity.title }}</div>
        </div>
        <div class="row">
            <div class="cell">Type</div>
            <div class="cell">{{ entity.type }}</div>
        </div>
  
<div class="row"><div class="cell"><a href="{{ path('slideshow_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('slideshow_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 
{% endblock %}
