{% extends 'EnglishCoursesBundle::subnav.html.twig' %}

{% block content %}
    <h3>
        Group 1
    </h3>

    <p>
        English and American Literature before 1800 (Two required, each from different areas)
    </p>

    <p>
        (1) Early Literature of the British Isles (2) Medieval Literature (3) Renaissance Literature (4) Restoration and
        Eighteenth-century British and American Literature
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th class="hidden-md hidden-sm hidden-xs">Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if 'Summer' in currentTerm.termName %}Sub-Term{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area1 %}
            <tr class="{% if courses.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                <td>
                    {% if '4060' in courses.courseName or '4210' in courses.courseName or '4220' in courses.courseName  or '4222' in courses.courseName  or '4295' in courses.courseName  or '4296' in courses.courseName %}(1)
                    {% elseif '4225' in courses.courseName or '4230' in courses.courseName or '4230' in courses.courseName or '4240' in courses.courseName or '4270' in courses.courseName or '4290' in courses.courseName or '4297' in courses.courseName %}(2)
                    {% elseif '4300' in courses.courseName or '4310' in courses.courseName or '4320' in courses.courseName or '4330' in courses.courseName or
                    '4270' in courses.courseName or '4340' in courses.courseName or '4350' in courses.courseName or '4360' in courses.courseName or '4370' in
                    courses.courseName or '4390' in courses.courseName or '4331' in courses.courseName %}(3)
                    {% elseif '4400' in courses.courseName or '4410' in courses.courseName or '4420' in courses.courseName or '4430' in courses.courseName or '4440' in courses.courseName or '4450' in courses.courseName
                    or '4460' in courses.courseName or '4470' in courses.courseName or '4480' in courses.courseName or '4490' in courses.courseName or '4700'
                    in courses.courseName or '4491' in courses.courseName %}(4)
                    {% endif %}
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong>
                    {% if courses.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>
                    {% if courses.time == 'TBA'%}TBA{% elseif courses.time > 0 %}
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)|number_format}}{% endif %}:{{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                    {% else %}
                    {% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %} {{ courses.Summerterm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>
        Group 2
    </h3>

    <p>
        British and Postcolonial Literature after 1800 (One required)
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th class="hidden-md hidden-sm hidden-xs">Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if 'Summer' in currentTerm.termName %}Sub-Term{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area2 %}
            <tr class="{% if courses.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong>
                    {% if courses.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>
                    {% if courses.time == 'TBA'%}TBA{% elseif courses.time > 0 %}
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)|number_format}}{% endif %}:{{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                    {% else %}
                    {% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %} {{ courses.Summerterm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>
        Group 3
    </h3>

    <p>
        American Literature after 1800 (One required)
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th class="hidden-md hidden-sm hidden-xs">Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if 'Summer' in currentTerm.termName %}Sub-Term{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area3 %}
            <tr class="{% if courses.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong>
                    {% if courses.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>
                    {% if courses.time == 'TBA'%}TBA{% elseif courses.time > 0 %}
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)|number_format}}{% endif %}:{{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                    {% else %}
                    {% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %} {{ courses.Summerterm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>
        Group 4
    </h3>

    <p>
        Language, Criticism, and Culture (One required)
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th class="hidden-md hidden-sm hidden-xs">Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if 'Summer' in currentTerm.termName %}Sub-Term{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area4 %}
            <tr class="{% if courses.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong>
                    {% if courses.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>
                    {% if courses.time == 'TBA'%}TBA{% elseif courses.time > 0 %}
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)|number_format}}{% endif %}:{{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                    {% else %}
                    {% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %} {{ courses.Summerterm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h3>
        Group 5
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th class="hidden-md hidden-sm hidden-xs">Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if 'Summer' in currentTerm.termName %}Sub-Term{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area5 %}
            <tr class="{% if courses.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong>
                    {% if courses.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>
                    {% if courses.time == 'TBA'%}TBA{% elseif courses.time > 0 %}
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)|number_format}}{% endif %}:{{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                    {% else %}
                    {% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %} {{ courses.Summerterm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>
        Group 6
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th class="hidden-md hidden-sm hidden-xs">Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if 'Summer' in currentTerm.termName %}Sub-Term{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area6 %}
            <tr class="{% if courses.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong>
                    {% if courses.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>
                    {% if courses.time == 'TBA'%}TBA{% elseif courses.time > 0 %}
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)|number_format}}{% endif %}:{{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                    {% else %}
                    {% endif %}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %} {{ courses.Summerterm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

