{% extends 'EnglishCoursesBundle::subnav.html.twig' %}

{% block content %}
    <h3>
        Group 1
    </h3>

    <p>
        English and American Literature before 1800 (Two required, each from different areas)
    </p>

    <p>
        (1) Early Literature of the British Isles (2) Medieval Literature (3) Renaissance Literature (4) Restoration and
        Eighteenth-century British and American Literature
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th class="hidden-md hidden-sm hidden-xs">Building</th>
            <th>Room</th>
            <th class="hidden-md hidden-sm hidden-xs">Call</th>
            <th class="hidden-md hidden-sm hidden-xs"></th>
            <th class="hidden-md hidden-sm hidden-xs">{% if '05' in area1[0].term %}Maymester{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area1 %}
            <tr>
                <td>
                    {% if '4060' in courses.courseName or '4210' in courses.courseName or '4220' in courses.courseName  or '4222' in courses.courseName  or '4295' in courses.courseName  or '4296' in courses.courseName %}(1)
                    {% elseif '4225' in courses.courseName or '4230' in courses.courseName or '4230' in courses.courseName or '4240' in courses.courseName or '4270' in courses.courseName or '4290' in courses.courseName or '4297' in courses.courseName %}(2)
                    {% elseif '4300' in courses.courseName or '4310' in courses.courseName or '4320' in courses.courseName or '4330' in courses.courseName or '4270' in courses.courseName or '4340' in courses.courseName or '4350' in courses.courseName or '4360' in courses.courseName or '4370' in courses.courseName or '4390' in courses.courseName %}(3)
                    {% elseif '4400' in courses.courseName or '4410' in courses.courseName or '4420' in courses.courseName or '4430' in courses.courseName or '4440' in courses.courseName or '4450' in courses.courseName or '4460' in courses.courseName or '4470' in courses.courseName or '4480' in courses.courseName or '4490' in courses.courseName or '4700' in courses.courseName %}(4)
                    {% endif %}
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong></td>
                <td>{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>{% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}{% else %}
                        {{ courses.time|slice(0,2)}}{% endif %}:{{ courses.time|slice(2,2)}}
                    {% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber2 }}</td>
                <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>
        Group 2
    </h3>

    <p>
        British and Postcolonial Literature after 1800 (One required)
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th>Building</th>
            <th>Room</th>
            <th>Call</th>
            <th></th>
            <th>{% if '05' in area2[0].term %}Maymester{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area2 %}
            <tr>
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong></td>
                <td>{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>{% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                    {% else %}{{ courses.time|slice(0,2)}}{% endif %}:
                    {{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                <td>{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td>{{ courses.callNumber }}</td>
                <td>{{ courses.callNumber2 }}</td>
                <td>{% if courses.may == 1 %}Maymester{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>
        Group 3
    </h3>

    <p>
        American Literature after 1800 (One required)
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th>Building</th>
            <th>Room</th>
            <th>Call</th>
            <th></th>
            <th>{% if '05' in area3[0].term %}Maymester{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area3 %}
            <tr>
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong></td>
                <td>{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>{% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}{% else %}
                        {{ courses.time|slice(0,2)}}{% endif %}:{{ courses.time|slice(2,2)}}
                    {% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                <td>{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td>{{ courses.callNumber }}</td>
                <td>{{ courses.callNumber2 }}</td>
                <td>{% if courses.may == 1 %}Maymester{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>
        Group 4
    </h3>

    <p>
        Language, Criticism, and Culture
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th>Building</th>
            <th>Room</th>
            <th>Call</th>
            <th></th>
            <th>{% if '05' in area4[0].term %}Maymester{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area4 %}
            <tr>
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong></td>
                <td>{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>{% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}{% else %}
                        {{ courses.time|slice(0,2)}}{% endif %}:{{ courses.time|slice(2,2)}}
                    {% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                <td>{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td>{{ courses.callNumber }}</td>
                <td>{{ courses.callNumber2 }}</td>
                <td>{% if courses.may == 1 %}Maymester{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h3>
        Group 5
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th>Building</th>
            <th>Room</th>
            <th>Call</th>
            <th></th>
            <th>{% if '05' in area5[0].term %}Maymester{% endif %}</th>
        </tr>
        </thead>
        <tbody>
        {% for courses in area5 %}
            <tr>
                <td>
                    <strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                               title="Course Detail">{{ courses.courseName }}</a></strong></td>
                <td>{{ courses.title }}</td>
                <td>{{ courses.instructorName|upper }}</td>
                <td>{{ courses.days }}</td>
                <td>{% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}{% else %}
                        {{ courses.time|slice(0,2)}}{% endif %}:{{ courses.time|slice(2,2)}}
                    {% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                <td>{{ courses.building }}</td>
                <td>{{ courses.room }}</td>
                <td>{{ courses.callNumber }}</td>
                <td>{{ courses.callNumber2 }}</td>
                <td>{% if courses.may == 1 %}Maymester{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

