{% extends 'EnglishCoursesBundle::subnav.html.twig' %}

{% block content %}
        <table class="table">
            <thead>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Days</th>
                <th>Times</th>
                <th>Building</th>
                <th>Room</th>
                <th>Call</th>
                <th></th>
                <th>{% if '05' in course.term %}Maymester{% endif %}</th>
            </tr>
            </thead>
            <tbody>
            <tr id="course{{ course.id }}">
                <td><strong>{{ course.courseName }}</strong></td>
                <td>{{ course.title }}</td>
                <td>{{ course.instructorName|upper }}</td>
                <td>{{ course.days }}</td>
                <td>{% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12}}
                    {% else %}{{ course.time|slice(0,2)}}{% endif %}:
                    {{ course.time|slice(2,2)}}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                <td>{{ course.building }}</td>
                <td>{{ course.room }}</td>
                <td>{{ course.callNumber }}</td>
                <td>{{ course.callNumber2 }}</td>
                <td>{% if course.may == 1 %}Maymester{% endif %}</td>

            </tr>
            </tbody>
        </table>
        {% if courseDetail and (courseDetail[0].userid == userid or  is_granted('ROLE_ADMIN')) %}
            <a class="btn btn-default pull-right" href="{{ path('description_edit', { 'id': courseDetail[0].id }) }}">Update/Delete</a>
        {% elseif not courseDetail and (course.instructorname|lower == people.oasisname|lower or  is_granted('ROLE_ADMIN'))  %}
            <a class="btn btn-default pull-right" href="{{ path('description_new', {'term':course.term, 'callNumber':course.callNumber})}}">Add Description</a>
        {% endif %}



        <dl>
            {% for courseDetail in courseDetail %}
            {% if courseDetail.topicsTitle != '' %}
                <dt>
                    Topics Title
                </dt>
                <dd>
                    {{ courseDetail.topicsTitle|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.url != '' %}
                <dd>
                    <a href="{{ courseDetail.url }}" title="Course Web Site" target="_blank">Course Web Site</a>
                </dd>
            {% endif %}
            {% if courseDetail.description != '' %}
                <dt>
                    Description
                </dt>
                <dd>
                    {{ courseDetail.description|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.assignments != '' %}
                <dt>
                    Assignments
                </dt>
                <dd>
                    {{ courseDetail.assignments|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.requirements != '' %}
                <dt>
                    Requirements
                </dt>
                <dd>
                    {{ courseDetail.requirements|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.grading != '' %}
                <dt>
                    Grading
                </dt>
                <dd>
                    {{ courseDetail.grading|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.attendance != '' %}
                <dt>
                    Attendance
                </dt>
                <dd>
                    {{ courseDetail.attendance|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.material != '' %}
                <dt>
                    Material
                </dt>
                <dd>
                    {{ courseDetail.material|raw }}
                </dd>
            {% endif %}
            {% if courseDetail.makeup != '' %}
                <dt>
                    Makeup Policy
                </dt>
                <dd>
                    {{ courseDetail.makeup|raw }}
                </dd>
            {% endif %}

        </dl>

        {% else %}
            <p>
            <div class="cell">No description has been offered by the instructor at this time.</div>
            </p>
        {% endfor %}
{% endblock %}






