{% extends 'EnglishCoursesBundle::subnav.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- tablesorter plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("table").tablesorter({
                headers: {
                    5: {sorter: false },
                    6: {sorter: false },
                    7: {sorter: false },
                    8: {sorter: false},
                    9: {sorter: false},
                    10: {sorter: false},
                    11: {sorter: false}
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #ffffff; min-height: 100vh;">

        <table class="table">
            <thead>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Days</th>
                <th>Times</th>
                <th class="hidden-md hidden-sm hidden-xs">Building</th>
                <th>Room</th>
                <th class="hidden-md hidden-sm hidden-xs">Call</th>
                <th class="hidden-md hidden-sm hidden-xs">{% if currentType=='Search' %}Term{% endif %}</th>
                <th class="hidden-md hidden-sm hidden-xs">{% if courses %}{% if '05' in courses[0].term %}Maymester{% endif %}{% endif %}</th>
            </tr>
            </thead>
            <tbody>
            {% for courses in courses %}
                <tr>
                    <td><strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                                   title="Course Detail">{{ courses.courseName }}</a></strong></td>
                    <td>{{ courses.title }}</td>
                    <td>{{ courses.instructorName|upper }}</td>
                    <td>{{ courses.days }}</td>
                    <td>
                        {% if courses.time|slice(0,2) > 12 %}{{ courses.time|slice(0,2) - 12}}
                        {% else %}{{ courses.time|slice(0,2)}}{% endif %}:
                        {{ courses.time|slice(2,2)}}{% if courses.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}</td>
                    <td class="hidden-md hidden-sm hidden-xs">{{ courses.building }}</td>
                    <td>{{ courses.room }}</td>
                    <td class="hidden-md hidden-sm hidden-xs">{{ courses.callNumber }}{{ courses.callNumber2 }}</td>
                    <td class="hidden-md hidden-sm hidden-xs">{% if currentType=='Search' %}{{ courses.term }}{% endif %}</td>
                    <td class="hidden-md hidden-sm hidden-xs">{% if courses.may == 1 %}Maymester{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
