{% extends 'EnglishCoursesBundle::subnav.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- tablesorter plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("table").tablesorter({
                headers: {
                    5: {sorter: false },
                    6: {sorter: false },
                    7: {sorter: false },
                    8: {sorter: false},
                    9: {sorter: false},
                    10: {sorter: false},
                    11: {sorter: false}
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
        <table class="table  table-striped">
            <thead>
            <tr>
                <th>Term</th>
                <th>Course</th>
                <th class="hidden-md hidden-sm hidden-xs">Title</th>
                <th>Instructor</th>
                <th>Days</th>
                <th>Times</th>
                <th class="hidden-md hidden-sm hidden-xs">Building</th>
                <th>Room</th>
                <th class="hidden-md hidden-sm hidden-xs">Call</th>
                <th class="hidden-md hidden-sm hidden-xs">{% if courses %}{% if '05' in courses[0].term %}Sub-Term{% endif %}{% endif %}</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr class="{% if course.max == '0' and not is_granted('ROLE_COURSEADMIN') %}hide{% endif %}">
                    <td>{% if is_granted('ROLE_COURSEADMIN') %}
                            <a class="btn btn-primary btn-xs" href="{{ path('course_edit', { 'id': course.id }) }}">Edit</a>
                        {% endif %}
                        {{ course.termName }}</td>
                    <td class=""><strong><a href="{{ path('listings_detail', { 'callNumber': course.callNumber, 'term': course.term }) }}"
                                   title="Course Detail">{{ course.courseName }}</a></strong>
                        {% if course.max == '0' and  is_granted('ROLE_COURSEADMIN') %}(hidden){% endif %}
                    </td>
                    <td class="hidden-md hidden-sm hidden-xs">{{ course.title }}</td>
                    <td>{{ course.instructorName|upper }}</td>
                    <td>{{ course.days }}</td>
                    <td>
                        {% if course.time == 'TBA'%}TBA{% elseif course.time > 0 %}
                        {% if course.time|slice(0,2) > 12 %}{{ course.time|slice(0,2) - 12}}
                        {% else %}{{ course.time|slice(0,2)|number_format}}{% endif %}:{{ course.time|slice(2,2)}}{% if course.time|slice(0,2) > 11 %} PM{% else %} AM{% endif %}
                        {% else %}
                        {% endif %}
                    </td>
                    <td class="hidden-md hidden-sm hidden-xs">{{ course.building }}</td>
                    <td>{{ course.room }}</td>
                    <td class="hidden-md hidden-sm hidden-xs">{{ course.callNumber }}{{ course.callNumber2 }}</td>
                    <td class="hidden-md hidden-sm hidden-xs">{% if course.may == 1 %}Maymester{% endif %} {{ course.summerterm }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
