{% extends 'EnglishCoursesBundle:Course:layout.html.twig' %}
 
{% block body %}
{% if '/listings/' in app.request.pathinfo %}
{% include 'EnglishCoursesBundle:Default:filter.html.twig' %}
{% endif %}


{% for courses in courses %}
<div id="course{{ courses.id }}" class="row_even divider">
<div class="cell"><a id="detailLink{{ courses.id }}" href="javascript:void(0)" tabindex="1" title="Course Detail" >{{ courses.courseName }}</a></div>
<div class="cell bold">{{ courses.title }}</div>
<div class="cell">{{ courses.instructorName|upper }}</div>
<div class="cell">{{ courses.callNumber }}</div>
<div class="cell">{{ courses.callNumber2 }}</div>
<div class="cell">{{ courses.days }}</div>
<div class="cell">{{ courses.time }}</div>
<div class="cell">{{ courses.building }}</div>
<div class="cell">{{ courses.room }}</div>
</div>
<div id="detailWrapper{{ courses.id }}" class="row_odd divider hidden">
<div id="detail{{ courses.id }}" class="row_odd">
</div>
</div>

{% set callNumber = "#{courses.callNumber}#{courses.callNumber2}#{courses.term}" %}
<script language="javascript"> 
    $('#detailLink{{ courses.id }}').click(function(){
        $('#detail{{ courses.id }}').load('{{ path('listings_detail', { 'callNumber': callNumber }) }}');
        $('#detailWrapper{{ courses.id }}').toggle();
    });
</script>
{% endfor %}    
{% endblock %}
