{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block subnav %}
    {% include 'EnglishCoursesBundle:Default:filter.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- tablesorter plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("table").tablesorter({
                headers: {
                    5: {sorter: false },
                    6: {sorter: false },
                    7: {sorter: false },
                    8: {sorter: false},
                    9: {sorter: false},
                    10: {sorter: false},
                    11: {sorter: false}
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishhome/css/theme.bootstrap.css') }}">
    <style type="text/css">
        th.header {
            background-image: url({{ asset('bundles/englishhome/img/black-unsorted.gif') }});
            cursor: pointer;
            font-weight: bold;
            background-repeat: no-repeat;
            background-position: center right;
            padding-left: 20px;
            margin-left: -1px;
        }

        th.headerSortUp {
            background-image: url({{ asset('bundles/englishhome/img/black-asc.gif') }});
            background-color: #f3f0dd;
        }

        th.headerSortDown {
            background-image: url({{ asset('bundles/englishhome/img/black-desc.gif') }});
            background-color: #f3f0dd;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #ffffff; min-height: 100vh;">

        <table class="table">
            <thead>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Days</th>
                <th>Times</th>
                <th>Building</th>
                <th>Room</th>
                <th>Call</th>
                <th></th>
                <th>{% if '05' in courses[0].term %}Maymester{% endif %}</th>
            </tr>
            </thead>
            <tbody>
            {% for courses in courses %}
                <tr>
                    <td><strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                                   title="Course Detail">{{ courses.courseName }}</a></strong></td>
                    <td>{{ courses.title }}</td>
                    <td>{{ courses.instructorName|upper }}</td>
                    <td>{{ courses.days }}</td>
                    <td>{{ courses.time }}</td>
                    <td>{{ courses.building }}</td>
                    <td>{{ courses.room }}</td>
                    <td>{{ courses.callNumber }}</td>
                    <td>{{ courses.callNumber2 }}</td>
                    <td>{% if courses.may == 1 %}Maymester{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
