{# engDept/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets '@bootstrap_less' combine=true  output='css/compiled/main.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishhome/css/local.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
        <style type="text/css">
            th.header {
                background-image: url({{ asset('css/fonts/black-unsorted.gif') }});
                cursor: pointer;
                font-weight: bold;
                background-repeat: no-repeat;
                background-position: center right;
                padding-left: 20px;
                margin-left: -1px;
            }

            th.headerSortUp {
                background-image: url({{ asset('css/fonts/black-asc.gif') }});
                background-color: #f3f0dd;
            }

            th.headerSortDown {
                background-image: url({{ asset('css/fonts/black-desc.gif') }});
                background-color: #f3f0dd;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@jqueryui_js' '@bootstrap_js' combine=true output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script language="javascript">
            $(document).ready(function () {
                $('[data-toggle=offcanvas]').click(function () {
                    $('.row-offcanvas').toggleClass('active');
                });
            });
        </script>
    {% endblock %}


</head>
<body>
<div class="col-sm-12" style="padding:0; background-color: #f5f5f5; ">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Lora', 'Times New Roman', 'serif';" href="{{ path('home') }}"
               title="English Department Homepage">English <span class="hidden-md hidden-sm hidden-xs">at UGA</span></a>
        </div>

        <div id="mainnav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="skip">
                    <a id="main_nav" href="#main_content">Skip Navigation</a>
                </li>
                <li><a href="{{ path('directory') }}">People</a></li>
                <li><a href="{{ path('listings') }}">Courses</a></li>
                <li><a href="{{ path('pages_show', { 'id': 1, 'sub':'fyc' }) }}">First Year Comp.</a></li>
                <li><a href="{{ path('pages_show', { 'id': 9, 'sub':'undergrad' }) }}">Undergraduate</a>
                </li>
                <li><a href="{{ path('pages_show', { 'id': 5, 'sub':'grad' }) }}">Graduate</a></li>
                <li><a href="{{ path('pages_show', { 'id': 143, 'sub':'cwp' }) }}">Creative Writing</a></li>
                <li><a href="{{ path('pages_show', { 'id': 156, 'sub':'donate' }) }}">Make a Gift</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right" id="account-dropdown">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                {% endif %}
                    <li id="skip">
                        <a id="main_content" href="#main_nav">Skip to Top</a>
                    </li>
                <li>
                    <a style="padding:0" href="http://www.uga.edu" target="_blank">
                        <img alt="UGA Arch logo" title="Go to the UGA homepage"
                             style="height:50px; float: right; margin-right: 0; margin-left: 10px; border-left: solid white 5px; "
                             src="{{ asset('bundles/englishhome/images/archB.gif') }}"/>
                    </a>
                </li>
            </ul>

        </div>
    </nav>


    <div id="mainContainer" style="margin-top: 45px;">

        {{ block('subnav') }}


        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and block('sidebar') %}

            <div class="row-offcanvas row-offcanvas-left">
                <div id="sidebar" class="sidebar-offcanvas">
                    <div class="col-md-12">

                        <ul class="nav nav-pills nav-stacked">
                            {{ block('sidebar') }}
                        </ul>
                    </div>
                </div>
                <div id="main" role="main">
                    <div class="col-md-12">
                        <p class="visible-xs">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i>
                            </button>
                        </p>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #f3f0dd; min-height: 100vh">
                                <div class="well">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/row-offcanvas -->

        {% else %}

            <div id="main" role="main">
                <div class="col-md-12">


                    {% if app.request.attributes.get('_route')=='home' or 'default' in app.request.attributes.get('_route') %}
                        <div class="row" style="padding: 0; min-height: 420px;background-color: #ffffff">

                            <div id="carousel-example-generic" class="carousel slide col-sm-12 center" data-ride="carousel" data-interval="12000" data-pause="hover">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for slide in slideshow %}
                                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}"
                                            class="{% if loop.first %}active{% endif %}"></li>
                                    {% endfor %}
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    {% for slide in slideshow %}
                                        <div class="item {% if loop.first %}active{% endif %}">
                                            <div class="col-sm-6" style="padding-top: 2%;padding-bottom: 2%;padding-left: 10%;">
                                                <img src="{{ slide.photoUrl }}" class="img-responsive img-thumbnail pull-right"
                                                     alt="Responsive image  of {{ slide.title }}">
                                            </div>
                                            <div class="col-sm-6" style="padding-top: 2%;padding-bottom: 2%;padding-right: 10%;">
                                                <h2 style="font-size: 24pt;font-family: 'Lora', 'Times New Roman', 'serif';">
                                                    {{ slide.title }}
                                                </h2>

                                                <p>{{ slide.description|raw }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>

                        </div>
                    {% endif %}



                    <div class="row">
                        <div class="col-md-12" style="background-color: #f3f0dd; min-height: 100vh">
                            {% if app.request.attributes.get('_route')=='home' or 'default' in app.request.attributes.get('_route') or 'pages' in app.request
                            .attributes.get('_route') %}

                                {{ block('content') }}
                            {% else %}
                                <div class="well">
                                    {{ block('content') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        {% endif %}

    </div>


</div>

<div class="col-sm-12 navbar-inverse">
    <div class="col-sm-offset-4">
        <p style='margin-top: 20px;'>The Department of English |
            <a href="http://www.franklin.uga.edu" target="_blank">Franklin College of Arts & Sciences</a> |
            <a href="http://www.uga.edu" target="_blank">The University of Georgia</a>
        </p>

        <p>254 Park Hall, Athens, Georgia, 30602-6205 | Phone: 706.542.1261 | Fax: 706.542.2181</p>
    </div>
</div>

{# Modal #}
<div class="modal fade" id="base_modal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true" role="dialog">

</div>
<!-- /.modal -->


</body>
</html>