{# engDept/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/css/theme.bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishhome/css/local.css') }}">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

        <style type="text/css">
            th.header {
                background-image: url({{ asset('css/fonts/black-unsorted.gif') }});
                cursor: pointer;
                font-weight: bold;
                background-repeat: no-repeat;
                background-position: center right;
                padding-left: 20px;
                margin-left: -1px;
            }

            th.headerSortUp {
                background-image: url({{ asset('css/fonts/black-asc.gif') }});
                background-color: #f3f0dd;
            }

            th.headerSortDown {
                background-image: url({{ asset('css/fonts/black-desc.gif') }});
                background-color: #f3f0dd;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <!-- jQuery first, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.2/tinysort.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.widgets.min.js"></script>

        <script language="javascript">
            $(document).ready(function () {
                $('[data-toggle=offcanvas]').click(function () {
                    $('.row-offcanvas').toggleClass('active');
                });
            });
        </script>
    {% endblock %}


</head>
<body>
<div class="col-sm-12" style="padding:0; ">
    <div class="header-row" style="padding-left:10%; padding-right:10%">
        <a class="navbar-brand " href="{{ path('home') }}"
           title="English Department Homepage"><img class="header-img" alt="UGA English Department logo"
                                                    src="{{ asset('bundles/englishhome/images/logo.png') }}"/></a>

    </div>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div id="mainnav" class="navbar-collapse collapse" style="padding-left:10%; padding-right:10%;">
            <ul class="nav navbar-nav">
                <li id="skip">
                    <a id="main_nav" href="#main_content">Skip Navigation</a>
                </li>

                {% if 'englvm01' in app.request.uri|lower or 'localhost' in app.request.uri|lower %}
                    <li><a href="http://www.english.uga.edu/first-year-composition">First Year Composition</a></li>
                    <li><a href="http://www.english.uga.edu/undergraduate-studies">Undergraduate Studies</a>
                    </li>
                    <li><a href="http://www.english.uga.edu/graduate-studies">Graduate Studies</a></li>
                    <li><a href="http://www.english.uga.edu/creative-writing-program">The Creative Writing Program</a></li>
                    <li><a href="http://www.english.uga.edu/park-hall-monitor">Newsletter</a></li>
                    <li><a href="http://www.english.uga.edu/make-gift">Make a Gift</a></li>

                    <li><a href="{{ path('listings') }}">Courses</a></li>
                    <li><a href="http://www.english.uga.edu/directory/graduate-faculty">People</a></li>
                    <li><a href="http://www.english.uga.edu/news/all">News</a></li>
                    <li><a href="http://www.english.uga.edu/events/all">Events</a></li>
                {% else %}
                    <li><a href="{{ path('pages_show', { 'id': 1, 'sub':'fyc' }) }}">First Year Composition</a></li>
                    <li><a href="{{ path('pages_show', { 'id': 9, 'sub':'undergrad' }) }}">Undergraduate Studies</a>
                    </li>
                    <li><a href="{{ path('pages_show', { 'id': 5, 'sub':'grad' }) }}">Graduate Studies</a></li>
                    <li><a href="{{ path('pages_show', { 'id': 143, 'sub':'cwp' }) }}">Creative Writing</a></li>
                    <li><a href="{{ path('pages_newsletter') }}">Newsletter</a></li>
                    <li><a href="{{ path('pages_show', { 'id': 156, 'sub':'donate' }) }}">Make a Gift</a></li>

                    <li><a href="{{ path('listings') }}">Courses</a></li>
                    <li><a href="{{ path('directory') }}">People</a></li>
                    <li><a href="{{ path('calendar_index') }}">Events</a></li>
                {% endif %}

            </ul>
            {% if 'englvm01' in app.request.uri|lower or 'localhost' in app.request.uri|lower %}
            {% else %}
            <ul class="nav navbar-nav navbar-right" id="account-dropdown">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('people_profile') }}">Login</a>
                    </li>
                {% endif %}
                <li id="skip">
                    <a id="main_content" href="#main_nav">Skip to Top</a>
                </li>
            </ul>
            {% endif %}

        </div>
    </nav>


    <div id="mainContainer">

        {{ block('subnav') }}


        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and block('sidebar') %}

            <div class="row-offcanvas row-offcanvas-left">
                <div id="sidebar" class="sidebar-offcanvas">
                    <div class="col-md-12">

                        <ul class="nav nav-pills nav-stacked">
                            {{ block('sidebar') }}
                        </ul>
                    </div>
                </div>
                <div id="main" role="main">
                    <div class="col-md-12">
                        <p class="visible-xs">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i
                                        class="glyphicon glyphicon-chevron-left"></i>
                            </button>
                        </p>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #f3f0dd; min-height: 100vh">
                                <div class="well">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/row-offcanvas -->

        {% else %}

            <div id="main" role="main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12" style="background-color: #fff; min-height: 100vh">
                            {% if app.request.attributes.get('_route')=='home' or 'default' in app.request.attributes.get('_route') or 'pages' in app.request
                            .attributes.get('_route') %}

                                {{ block('content') }}
                            {% else %}
                                <div style="padding-left:10%; padding-right:10%;">
                                    {{ block('content') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        {% endif %}

    </div>


</div>

<div class="col-sm-12 subnav">
    <div class="col-sm-offset-4">
        <p style='margin-top: 20px;'>The Department of English |
            <a href="http://www.franklin.uga.edu" target="_blank">Franklin College of Arts & Sciences</a> |
            <a href="http://www.uga.edu" target="_blank">The University of Georgia</a>
        </p>

        <p>254 Park Hall, Athens, Georgia, 30602-6205 | Phone: 706.542.1261 | Fax: 706.542.2181</p>
    </div>
</div>

{# Modal #}
<div class="modal fade" id="base_modal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true" role="dialog">

</div>
<!-- /.modal -->


</body>
</html>