{# engDept/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets '@bootstrap_less' combine=true  output='css/compiled/main.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishhome/css/local.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
        <style type="text/css">
            th.header {
                background-image: url({{ asset('css/fonts/black-unsorted.gif') }});
                cursor: pointer;
                font-weight: bold;
                background-repeat: no-repeat;
                background-position: center right;
                padding-left: 20px;
                margin-left: -1px;
            }

            th.headerSortUp {
                background-image: url({{ asset('css/fonts/black-asc.gif') }});
                background-color: #f3f0dd;
            }

            th.headerSortDown {
                background-image: url({{ asset('css/fonts/black-desc.gif') }});
                background-color: #f3f0dd;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@jqueryui_js' '@bootstrap_js' combine=true output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}


</head>
<body>
<div class="col-sm-12" style="padding:0; background-color: #f5f5f5; ">
    <nav class="navbar navbar-default navbar-fixed-top" style=" background-color: #f3f0dd;padding-right: 20px;">
        <div class="navbar-header col-sm-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a name="top"></a>
            <a class="navbar-brand" style="font-family: 'Lora', 'Times New Roman', 'serif';" href="{{ path('home') }}"
               title="English Department Homepage">English</a>
        </div>

        <div id="mainnav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="skip" class="hidden">
                    <a href="#main_content">Skip Navigation</a>
                </li>
                <li><a title="People" href="{{ path('directory') }}">People</a></li>
                <li><a title="Courses" href="{{ path('listings') }}">Courses</a></li>
                <li><a title="Publications" href="{{ path('publications') }}">Publications</a></li>
                <li><a title="First Year Composition" href="{{ path('pages_show', { 'id': 1, 'sub':'fyc' }) }}">First Year Comp.</a></li>
                <li><a title="Undergraduate Studies in English" href="{{ path('pages_show', { 'id': 9, 'sub':'undergrad' }) }}">Undergraduate</a>
                </li>
                <li><a title="Graduate Studies in English" href="{{ path('pages_show', { 'id': 5, 'sub':'grad' }) }}">Graduate</a></li>
                <li><a title="Creative Writing" href="http://cwp.uga.edu/" target='_blank'>Creative Writing</a></li>
                <li><a title="Make a Gift" href="{{ path('donate') }}">Make a Gift</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right" id="account-dropdown">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li>
                        <a title="Logout" href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a title="Login" href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="mainContainer" style="margin-top: 50px">
        {{ block('subnav') }}


        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and block('sidebar') %}
            {% if 'fos_user' not in app.request.attributes.get('_route') %}
                <div id="sidebar" class="col-sm-1 sidebar hidden-xs">
                    <ul class="nav nav-list">
                        {{ block('sidebar') }}
                    </ul>
                </div>
                <div class="col-xs-12 visible-xs sidebar-mobile">
                    <a id="main_content" name="main_content"></a>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-list">
                                {{ block('sidebar') }}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div id="content" {% if 'fos_user' not in app.request.attributes.get('_route') %}
                class="col-sm-11"
            {% else %}
                class="col-sm-12"
            {% endif %} role="main">
                {% block content %}
                {% endblock %}
            </div>
        {% else %}
            <a id="main_content" name="main_content"></a>
            {% if 'home' in app.request.attributes.get('_route') or 'default' in app.request.attributes.get('_route') %}
                <div class="col-sm-offset-1 col-sm-10 " style="padding:30px;">

                    <div id="carousel-example-generic" class="carousel slide col-sm-12 center" data-ride="carousel" data-interval="8000"  data-pause="hover">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for slide in slideshow %}
                                <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}"
                                    class="{% if loop.first %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for slide in slideshow %}
                                <div class="item {% if loop.first %}active{% endif %}">
                                    <div class="col-sm-6">
                                        <img style="width:80%" src="{{ slide.photoUrl }}"
                                             alt="{{ slide.title }}">
                                    </div>
                                    <div class="col-sm-6">
                                        <h1 style="font-size: 24pt;font-family: 'Lora', 'Times New Roman', 'serif';font-weight: bold;">
                                            {{ slide.title }}
                                        </h1>

                                        <p>{{ slide.description }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            {% endif %}
            <div id="content" class="col-sm-12 ">
                {{ block('content') }}
            </div>

        {% endif %}

    </div>


</div>

<div class="col-sm-12"  style="background-color:#f3f0dd;">
<div class="col-sm-offset-4">
    <p style='margin-top: 20px;' class="text-muted">The Department of English | Franklin College of Arts & Sciences | University of Georgia</p>
    <p class="text-muted">254 Park Hall, Athens, Georgia, 30602-6205 | Phone: 706.542.1261 | Fax: 706.542.2181</p>
</div>
</div>

{# Modal #}
<div class="modal fade" id="base_modal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true" role="dialog">

</div>
<!-- /.modal -->


</body>
</html>
