{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}
 
 
{% block body %}



     <div class="row">
     <div class="cell bold">{{ user.username }}</div>
     </div>
     <div class="row">
     <div class="cell bold">{{ user.email }}</div>
     </div>
     <div class="row">
     {% for role in user.roles %}<div class="cell bold">{{ role }}</div>{% endfor %}
     </div>
     <div class="row">
     <div class="cell bold">{{ user.lastLogin  |date('h:i a M d, Y ')}}</div>
     </div>
     <div class="row">
     <div class="cell bold">
         <ul>
         <li><a href="{{ path('people_promote', { 'username': user.username, 'role': 'ROLE_ADVISOR' }) }}">Promote Advisor</a></li>
         <li><a href="{{ path('people_promote', { 'username': user.username, 'role': 'ROLE_ADVISORADMIN' }) }}">Promote Advisor Admin</a></li>
         <li><a href="{{ path('people_promote', { 'username': user.username, 'role': 'ROLE_GRADFAC' }) }}">Promote Grad. Faculty</a></li>
         <li><a href="{{ path('people_promote', { 'username': user.username, 'role': 'ROLE_GRADADMIN' }) }}">Promote Grad. Admin</a></li>
         <li><a href="{{ path('people_promote', { 'username': user.username, 'role': 'ROLE_SEARCH' }) }}">Promote Search</a></li>
         <li><a href="{{ path('people_promote', { 'username': user.username, 'role': 'ROLE_SEARCHADMIN' }) }}">Promote Search Admin</a></li>
         
         
         <li><a href="{{ path('people_demote', { 'username': user.username, 'role': 'ROLE_ADVISOR' }) }}">Demote Advisor</a></li>
         <li><a href="{{ path('people_demote', { 'username': user.username, 'role': 'ROLE_ADVISORADMIN' }) }}">Demote Advisor Admin</a></li>
         <li><a href="{{ path('people_demote', { 'username': user.username, 'role': 'ROLE_GRADFAC' }) }}">Demote Grad. Faculty</a></li>
         <li><a href="{{ path('people_demote', { 'username': user.username, 'role': 'ROLE_GRADADMIN' }) }}">Demote Grad. Admin</a></li>
         <li><a href="{{ path('people_demote', { 'username': user.username, 'role': 'ROLE_SEARCH' }) }}">Demote Search</a></li>
         <li><a href="{{ path('people_demote', { 'username': user.username, 'role': 'ROLE_SEARCHADMIN' }) }}">Demote Search Admin</a></li>
         </ul>
     </div>
     </div>
{% endblock %}
