{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}
 
{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block body %}
<script language="javascript"> 
$(document).ready(function()
{
$('#english_peoplebundle_peopletype_bio').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_peoplebundle_peopletype_officeHours').ckeditor( function() {}, {height:50, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Link','Unlink','SpecialChar','RemoveFormat'],
],} );
$('#english_peoplebundle_peopletype_title').ckeditor( function() {}, {height:50, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Link','Unlink','SpecialChar','RemoveFormat'],
],} );
});

</script>

{% if is_granted('ROLE_ADMIN') %}
<div class="row divider">
    <div class="cell"><a href="{{ path('people') }}">List People</a></div>   
</div>
{% endif %}

<div class="row"><div class="cell">
    <form action="{{ path('people_update', {'id':entity.id}) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
    <div class="row"><div class="cell">{{ form_errors(edit_form) }}</div></div>
     
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row"><div class="cell width150">{{ form_label(edit_form.username, 'Username') }}</div>
    <div class="cell">{{ form_errors(edit_form.username) }}</div>
    <div class="cell">{{ form_widget(edit_form.username) }}</div></div>
    {% endif %}
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.firstName, 'First Name') }}</div>
    <div class="cell">{{ form_errors(edit_form.firstName) }}</div>
    <div class="cell">{{ form_widget(edit_form.firstName) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.lastName, 'Last Name') }}</div>
    <div class="cell">{{ form_errors(edit_form.lastName) }}</div>
    <div class="cell">{{ form_widget(edit_form.lastName) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.title, 'Title') }}</div>
    <div class="cell">{{ form_errors(edit_form.title) }}</div>
    <div class="cell">{{ form_widget(edit_form.title) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.email, 'Email') }}</div>
    <div class="cell">{{ form_errors(edit_form.email) }}</div>
    <div class="cell">{{ form_widget(edit_form.email) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.officeHours, 'Office Hours') }}</div>
    <div class="cell">{{ form_errors(edit_form.officeHours) }}</div>
    <div class="cell">{{ form_widget(edit_form.officeHours) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.officePhone, 'Office Phone') }}</div>
    <div class="cell">{{ form_errors(edit_form.officePhone) }}</div>
    <div class="cell">{{ form_widget(edit_form.officePhone) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.officeNumber, 'Office Number') }}</div>
    <div class="cell">{{ form_errors(edit_form.officeNumber) }}</div>
    <div class="cell">{{ form_widget(edit_form.officeNumber) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.photoUrl, 'URL for a Photo') }}</div>
    <div class="cell">{{ form_errors(edit_form.photoUrl) }}</div>
    <div class="cell">{{ form_widget(edit_form.photoUrl) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.bio, 'Brief Biography') }}</div>
    <div class="cell">{{ form_errors(edit_form.bio) }}</div>
    <div class="cell">{{ form_widget(edit_form.bio) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.vitaUrl, 'URL for CV') }}</div>
    <div class="cell">{{ form_errors(edit_form.vitaUrl) }}</div>
    <div class="cell">{{ form_widget(edit_form.vitaUrl) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.homepageUrl, 'URL for Homepage') }}</div>
    <div class="cell">{{ form_errors(edit_form.homepageUrl) }}</div>
    <div class="cell">{{ form_widget(edit_form.homepageUrl) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.area, 'Area(s)') }}</div>
    <div class="cell">{{ form_errors(edit_form.area) }}</div>
    <div class="cell">{{ form_widget(edit_form.area) }}</div></div>
    
    <div class="row"></div>
    <div class="row"><div class="cell bold">Internal Information:</div></div>
    <div class="row"></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.rank, 'Rank') }}</div>
    <div class="cell">{{ form_errors(edit_form.rank) }}</div>
    <div class="cell">{{ form_widget(edit_form.rank) }}</div></div>
    
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.address, 'Street Address') }}</div>
    <div class="cell">{{ form_errors(edit_form.address) }}</div>
    <div class="cell">{{ form_widget(edit_form.address) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.address2, 'City, State, Zip') }}</div>
    <div class="cell">{{ form_errors(edit_form.address2) }}</div>
    <div class="cell">{{ form_widget(edit_form.address2) }}</div></div>
   
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.cellPhone, 'Cell Phone') }}</div>
    <div class="cell">{{ form_errors(edit_form.cellPhone) }}</div>
    <div class="cell">{{ form_widget(edit_form.cellPhone) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.spouse, 'Significant Other') }}</div>
    <div class="cell">{{ form_errors(edit_form.spouse) }}</div>
    <div class="cell">{{ form_widget(edit_form.spouse) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.homePhone, 'Home Phone') }}</div>
    <div class="cell">{{ form_errors(edit_form.homePhone) }}</div>
    <div class="cell">{{ form_widget(edit_form.homePhone) }}</div></div>
    
    <div class="row {% if not is_granted('ROLE_ADMIN') %}hidden{%endif%}"><div class="cell width150">{{ form_label(edit_form.position, 'Position') }}</div>
    <div class="cell">{{ form_errors(edit_form.position) }}</div>
    <div class="cell">{{ form_widget(edit_form.position) }}</div></div>
    
    <div class="row"><div class="cell width150">{{ form_label(edit_form.gradinfo) }}</div>
    <div class="cell">{{ form_errors(edit_form.gradinfo) }}</div>
    <div class="cell">{{ form_widget(edit_form.gradinfo) }}</div></div>

    <div class="row"><div class="cell">{{ form_rest(edit_form) }}</div></div>
        
    <button type="submit">Update</button
    
    </form>
</div></div>


{% if is_granted('ROLE_ADMIN') %}
<div class="row">
    <div class="cell"> 
        <form action="{{ path('people_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }} 
        <button type="submit">Delete</button> 
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
