{% extends 'EnglishPeopleBundle::subnav.html.twig' %}


{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well" style="background-color: #ffffff; min-height: 100vh">
        <form class="" action="{{ path('people_update', { 'id': people.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form, { 'attr': {'novalidate': 'novalidate' }}) }}
            <button class="btn btn-default" type="submit">Update</button>
        </form>
        {% if is_granted('ROLE_ADMIN') %}
        <div id="delete" class="pull-right">
            <button class="btn btn-warning" onclick="$('#confirm').toggle();$('#delete').toggle()" type="submit">Delete</button>
        </div>

        <div id="confirm" class="pull-right">
            <form action="{{ path('people_delete', { 'id': people.id}) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-warning"type="submit">Confirm Delete</button>
            </form>
            <button class="btn btn-default" onclick="$('#confirm').toggle();$('#delete').toggle()" type="submit">Cancel</button>
        </div>
        {% endif %}
    </div>

{% endblock %}
