{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}
 
 
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<div class='row divider'>
<div class='cell pad10'>
<a href="{{ path('people_new') }}">New Listing</a>
</div>        
        <form action="{{ path('people_find') }}" method="post" {{ form_enctype(form) }}>
        <div class='cell right'>
        <div class="cell">
        {{ form_widget(form) }}
        </div>         
        <div class="cell">
        <button type="submit">Find</button>
        </div> 
        </div>        
        </form>         
</div>
{% endif %}


<div class='row divider'>
<div class='cell pad10'>Grad Find</div>         
        <form action="{{ path('grad_find') }}" method="post" {{ form_enctype(gradform) }}>
        <div class='cell right'>
        <div class="cell">
        {{ form_widget(gradform) }}
        </div>         
        <div class="cell">
        <button type="submit">Find Grad</button>
        </div> 
        </div>        
        </form>         
</div>


    {% for entity in entities %}

     <div id="listing{{ entity.id }}" class="row_even divider">
     <div class="row">
     <div class="cell bold">{{ entity.firstname }} {{ entity.lastname }}</div>
     <div class="cell"><a href="{{ path('people_show', { 'id': entity.id }) }}">Detail</a></div>
     </div>
     <div class="row">
     <div class="cell">{{ entity.title |raw }}</div>
     </div>
     <div class="row">
     <div class="cell bold">Email:</div> <div class="cell"><a href="mailto:{{ entity.email }}" tabindex="1" title="email address" >{{ entity.email }}</a></div>
     <div class="cell bold">Phone:</div> <div class="cell">{{ entity.officePhone }}</div>
     <div class="cell bold">Office:</div> <div class="cell">{{ entity.officeNumber }}</div>
     </div>
     </div>  
    {% endfor %}
{% endblock %}
