{% extends 'EnglishHomeBundle::layout.html.twig' %}
 
 
{% block body %}

{% if app.request.pathinfo == '/people/' or app.request.pathinfo == '/people/find' %}
<div class='row divider'>
<div class='cell pad10'>
<a href="{{ path('people_new') }}">New Listing</a>
</div>        
        <form action="{{ path('people_find') }}" method="post" {{ form_enctype(form) }}>
        <div class='cell right'>
        <div class="cell">
        {{ form_widget(form) }}
        </div>         
        <div class="cell">
        <button type="submit">Find</button>
        </div> 
        </div>        
        </form>         
</div>
{% endif %}

{% if app.request.pathinfo == '/people/grad' or app.request.pathinfo == '/people/gradfind' %}
<div class='row divider'>
<div class='cell pad10'>Grad Find</div>         
        <form action="{{ path('grad_find') }}" method="post" {{ form_enctype(gradform) }}>
        <div class='cell right'>
        <div class="cell">
        {{ form_widget(gradform) }}
        </div>         
        <div class="cell">
        <button type="submit">Find Grad</button>
        </div> 
        </div>        
        </form>         
</div>
{% endif %}

    <table class="table-striped">
        {% for entity in entities %}

            <tr id="listing{{ entity.id }}">
                <td>
                    <strong>{{ entity.firstname }} {{ entity.lastname }}</strong>
                    {% if app.request.pathinfo != '/people/gradfac' %}<a href="{{ path('people_show', { 'id': entity.id }) }}">Detail</a>{% endif %}
                    {% if app.request.pathinfo == '/people/gradfac' %}<a href="{{ path('people_showgradcomm', { 'id': entity.id }) }}">Committee Info</a>{% endif %}
                    {% if is_granted('ROLE_ADMIN')  %}<a href="{{ path('people_admin', { 'id': entity.id }) }}">Permissions</a>{% endif %}
                </td>
                <td>
                    {{ entity.title |raw }}
                </td>
                <td>
                    Email:<a href="mailto:{{ entity.email }}" tabindex="1" title="email address" >{{ entity.email }}</a>
                    Phone:{{ entity.officePhone }}
                    Office:{{ entity.officeNumber }}
                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}
