{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<div class='row divider'>
<div class='cell'><a href="{{ path('people') }}">Return to List</a></div>
</div>
{% endif %}

     <div id="listing{{ entity.id }}" class="row_even divider">
     <div class="row">
     <div class="cell bold">{{ entity.firstname }} {{ entity.lastname }}</div>
     </div>
     <div class="row">
     <div class="cell">{{ entity.title |raw }}</div>
     </div>
     <div class="row">
     <div class="cell bold">Email:</div> <div class="cell"><a href="mailto:{{ entity.email }}" tabindex="1" title="email address" >{{ entity.email }}</a></div>
     <div class="cell bold">Phone:</div> <div class="cell">{{ entity.officePhone }}</div>
     <div class="cell bold">Office:</div> <div class="cell">{{ entity.officeNumber }}</div>
     </div>
     </div>  

    <div class="row_contrast divider">
    {% if entity.photoUrl != '' %}
        <div class="cell bio_photo">
        <div class="photo_cell">
        <img class="image" alt="Photo" src="{{ entity.photoUrl }}"/>
        </div>
        </div>
    {% endif %}
        <div class="cell bio_text">{% autoescape false %}{{ entity.bio }}{% endautoescape %}</div>
        <div class="cell bio_text">
            <span class="bold">Office hours: </span>{% autoescape false %}{{ entity.officeHours }}{% endautoescape %}
        </div>
        {% if entity.vitaUrl != '' %}
        <div class="cell bio_text">
            <span class="bold">Vita: </span><a href="{{ entity.vitaUrl }}" tabindex="1" title="Vita" target="_blank" >{{ entity.vitaUrl }}</a>
        </div>
        {% endif %}
        {% if entity.homepageUrl != '' %}
        <div class="cell bio_text">
            <span class="bold">Website: </span><a href="{{ entity.homepageUrl }}" tabindex="1" title="Website" target="_blank" >{{ entity.homepageUrl }}</a>
        </div>
        {% endif %}
    </div>

     <div class="row"><div class="cell bold">Internal Information</div></div>
            <div class="row"><div class="cell bold">Rank</div><div class="cell">{{ entity.rank }}</div></div>
            <div class="row"><div class="cell bold">Address</div><div class="cell">{{ entity.address }}</div></div>
            <div class="row"><div class="cell bold"></div><div class="cell">{{ entity.address2 }}</div></div>
            <div class="row"><div class="cell bold">Spouse</div><div class="cell">{{ entity.spouse }}</div></div>
            <div class="row"><div class="cell bold">Home phone</div><div class="cell">{{ entity.homePhone }}</div></div>
            <div class="row"><div class="cell bold">Cell phone</div><div class="cell">{{ entity.cellPhone }}</div></div>
            <div class="row divider"><div class="cell bold">Area(s)</div>{% for area in entity.area %}<div class="cell">{{ area}}</div> {% endfor %}</div>

            <div class="row divider"><div class="cell">
            <a href="{{ path('people_edit', { 'id': entity.id }) }}">Edit</a>
           </div>
            </div>

            
{% if is_granted('ROLE_GRADFAC') and 'show' in app.request.pathinfo %}   
<div class="row_contrast"><div class="cell bold">Graduate Information</div></div> 
<div class="row"><div class="cell bold">Committee</div></div> 
        {% for gradcom in gradcom %}
        <div class="row">
            <div class="cell">{{ gradcom.firstName}} {{ gradcom.lastName}}{% if gradcom.frole == 2 %}, Chair {% endif %}
            {% if gradcom.fid == app.security.token.user %}<a href="{{ path('gradcom_edit', { 'id': gradcom.id }) }}">Update</a>{% endif %}</div>
        </div>
        {% endfor %}

{% if join[1] == 0  %}
<div class="row divider"><div class="cell">
        <a href="{{ path('gradcom_new', { 'id': entity.id }) }}">Join Committee</a></div></div>
{% endif %}

<div class="row_contrast"><div class="cell bold">Graduate Advisor Notes</div></div>
        <div class="row">
            <div class="cell"><a href="{{ path('gradnotes_new', { 'id': entity.id }) }}">New Note</a></div>
        </div>
        {% for notes in notes %}
        <div class="row">
            <div class="cell">{{ notes.notes | raw}}</div>
        </div>
        <div class="row divider">
            <div class="cell">{{ notes.updated |date('h:i A M d, Y')}}</div>
        <div class="cell">
         <a href="{{ path('gradnotes_edit', { 'id': notes.id }) }}">Edit</a>
         </div>
         </div>
        {% endfor %}
{% endif %}            
{% endblock %}
