{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}

{% block body %}

{% if is_granted('ROLE_GRADADMIN') or is_granted('ROLE_GRAD') %}

<div id="listing{{ entity.id }}" class="row_even divider">
<div class="row">
<div class="cell bold">{{ entity.firstname }} {{ entity.lastname }}</div>
</div>
</div> 

<div class="row"><div class="cell bold">{{ gradcomphd|length }} PhD Students</div></div> 
        {% for gradcomphd in gradcomphd %}
        <div class="row">
            <div class="cell">{{ gradcomphd.firstName}} {{ gradcomphd.lastName}}{% if gradcomphd.frole == 2 %}, <span class='bold'>Chair</span> {% endif %}
            {% if is_granted('ROLE_GRADADMIN') %} <a href="{{ path('gradcom_edit', { 'id': gradcomphd.id }) }}">Update</a>{% endif %}</div>
        </div>
        {% endfor %}

<div class="row"><div class="cell bold">{{ gradcomma|length }} MA Students</div></div> 
        {% for gradcomma in gradcomma %}
        <div class="row">
            <div class="cell">{{ gradcomma.firstName}} {{ gradcomma.lastName}}{% if gradcomma.frole == 2 %}, <span class='bold'>Chair</span> {% endif %}
            {% if is_granted('ROLE_GRADADMIN') %} <a href="{{ path('gradcom_edit', { 'id': gradcomma.id }) }}">Update</a>{% endif %}</div>
        </div>
        {% endfor %}

{% if is_granted('ROLE_GRADADMIN') %}
<div class="row divider"><div class="cell">
        <a href="{{ path('gradcom_new', { 'id': entity.id }) }}">Add to Committee</a></div></div>
{% endif %}
{% endif %}        
{% endblock %}
