 {% extends 'EnglishGradcomBundle:Gradcom:layout.html.twig' %}
 
 {% block body %}
<div class="row"><div class="cell"><a href="{{ path('gradinfo_new') }}">New</a></div></div>
    
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('gradinfo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{{ entity.status }}</div>
            <div class="cell">
                <a href="{{ path('gradinfo_show', { 'id': entity.id }) }}">show</a>
                 <a href="{{ path('gradinfo_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
