 {% extends 'EnglishGradcomBundle:Gradcom:layout.html.twig' %}
 
 {% block body %}
<div class="row"><div class="cell"><a href="{{ path('gradinfo_new') }}">New</a></div></div>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Gid</th>
            <th>Degree</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('gradinfo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.gid }}</td>
            <td>{{ entity.degree }}</td>
            <td>{{ entity.status }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('gradinfo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gradinfo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
