{% extends 'EnglishInfoBundle:Gradinfo:layout.html.twig' %}

{% block body %}
<div class="row"><div class="cell"><a href="{{ path('gradinfo') }}">List</a></div></div>  
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Gid</div>
            <div class="cell">{{ entity.gid }}</div>
        </div>
        <div class="row">
            <div class="cell">Degree</div>
            <div class="cell">{{ entity.degree }}</div>
        </div>
        <div class="row">
            <div class="cell">Status</div>
            <div class="cell">{{ entity.status }}</div>
        </div>
    
<div class="row"><div class="cell"><a href="{{ path('gradinfo_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('gradinfo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div>   

{% endblock %}
