<div class='nav center'>
<a href='{{ path('def_list', { 'alpha': 'a' }) }}'>A</a>
<a href='{{ path('def_list', { 'alpha': 'b' }) }}'>B</a>
<a href='{{ path('def_list', { 'alpha': 'c' }) }}'>C</a>

<a href='{{ path('def_list', { 'alpha': 'd' }) }}'>D</a>
<a href='{{ path('def_list', { 'alpha': 'e' }) }}'>E</a>
<a href='{{ path('def_list', { 'alpha': 'f' }) }}'>F</a>
<a href='{{ path('def_list', { 'alpha': 'g' }) }}'>G</a>
<a href='{{ path('def_list', { 'alpha': 'h' }) }}'>H</a>
<a href='{{ path('def_list', { 'alpha': 'i' }) }}'>I</a>

<a href='{{ path('def_list', { 'alpha': 'j' }) }}'>J</a>
<a href='{{ path('def_list', { 'alpha': 'k' }) }}'>K</a>
<a href='{{ path('def_list', { 'alpha': 'l' }) }}'>L</a>
<a href='{{ path('def_list', { 'alpha': 'm' }) }}'>M</a>
<a href='{{ path('def_list', { 'alpha': 'n' }) }}'>N</a>
<a href='{{ path('def_list', { 'alpha': 'o' }) }}'>O</a>

<a href='{{ path('def_list', { 'alpha': 'p' }) }}'>P</a>
<a href='{{ path('def_list', { 'alpha': 'q' }) }}'>Q</a>
<a href='{{ path('def_list', { 'alpha': 'r' }) }}'>R</a>
<a href='{{ path('def_list', { 'alpha': 's' }) }}'>S</a>
<a href='{{ path('def_list', { 'alpha': 't' }) }}'>T</a>
<a href='{{ path('def_list', { 'alpha': 'u' }) }}'>U</a>

<a href='{{ path('def_list', { 'alpha': 'v' }) }}'>V</a>
<a href='{{ path('def_list', { 'alpha': 'w' }) }}'>W</a>
<a href='{{ path('def_list', { 'alpha': 'x' }) }}'>X</a>
<a href='{{ path('def_list', { 'alpha': 'y' }) }}'>Y</a>
<a href='{{ path('def_list', { 'alpha': 'z' }) }}'>Z</a>
</div>
