<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>DawgSpeak - Slanguage, A-Z</title>
        <script src="{{ asset('bundles/englishhome/js/jquery-1.7.1.min.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishdawgspeak/css/dawgspeak.css') }}">
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
</head>

<body>
        
<div class='banner'>
    <div style='float:left;padding:0px;'>
    <img src="http://www.english.uga.edu/dawgspeak/menudawg.jpg" width="204" height="288" border="0" usemap="#Map" href="http://www.english.uga.edu/dawgspeak/helpindex.html"/>
    </div>
     <div  style='float:left;padding:0px;'><img src="http://www.english.uga.edu/dawgspeak/halfban.jpg" width="545" height="288"/></div>
</div>
<div class='main' style='clear:both;margin-top: -5px;'>

    
<div class='mid'>

{% block body %}{% endblock %}   

</div>
</div>
<map name="Map">
  <area shape="rect" coords="5,223,104,237" href="/dawgspeak/index.html"/>
  <area shape="rect" coords="7,248,162,262" href="{{ path('page') }}"/>
  <area shape="rect" coords="6,266,125,281" href="{{ path('def') }}"/>
</map>    
</body>
</html>
