<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>DawgSpeak - Slanguage, A-Z</title>
        <script src="{{ asset('bundles/englishhome/js/jquery-1.7.1.min.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishdawgspeak/css/dawgspeak.css') }}">
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
</head>

<body>
        
<div class='banner'>
    <div style='float:left;padding:0px;'>
    <img src="http://temp.english.uga.edu/dawgspeak/menudawg.jpg" width="204" height="288" border="0" usemap="#Map" href="http://temp.english.uga.edu/dawgspeak/helpindex.html"/>
    </div>
     <div  style='float:left;padding:0px;'><img src="http://temp.english.uga.edu/dawgspeak/halfban.jpg" width="545" height="288"/></div>
</div>
<div class='main' style='clear:both;margin-top: -5px;'>

<div class='mid'>
<div class='nav center'>
<a href='{{ path('def_list', { 'alpha': 'a' }) }}'>A</a>
<a href='{{ path('def_list', { 'alpha': 'b' }) }}'>B</a>
<a href='{{ path('def_list', { 'alpha': 'c' }) }}'>C</a>

<a href='{{ path('def_list', { 'alpha': 'd' }) }}'>D</a>
<a href='{{ path('def_list', { 'alpha': 'e' }) }}'>E</a>
<a href='{{ path('def_list', { 'alpha': 'f' }) }}'>F</a>
<a href='{{ path('def_list', { 'alpha': 'g' }) }}'>G</a>
<a href='{{ path('def_list', { 'alpha': 'h' }) }}'>H</a>
<a href='{{ path('def_list', { 'alpha': 'i' }) }}'>I</a>

<a href='{{ path('def_list', { 'alpha': 'j' }) }}'>J</a>
<a href='{{ path('def_list', { 'alpha': 'k' }) }}'>K</a>
<a href='{{ path('def_list', { 'alpha': 'l' }) }}'>L</a>
<a href='{{ path('def_list', { 'alpha': 'm' }) }}'>M</a>
<a href='{{ path('def_list', { 'alpha': 'n' }) }}'>N</a>
<a href='{{ path('def_list', { 'alpha': 'o' }) }}'>O</a>

<a href='{{ path('def_list', { 'alpha': 'p' }) }}'>P</a>
<a href='{{ path('def_list', { 'alpha': 'q' }) }}'>Q</a>
<a href='{{ path('def_list', { 'alpha': 'r' }) }}'>R</a>
<a href='{{ path('def_list', { 'alpha': 's' }) }}'>S</a>
<a href='{{ path('def_list', { 'alpha': 't' }) }}'>T</a>
<a href='{{ path('def_list', { 'alpha': 'u' }) }}'>U</a>

<a href='{{ path('def_list', { 'alpha': 'v' }) }}'>V</a>
<a href='{{ path('def_list', { 'alpha': 'w' }) }}'>W</a>
<a href='{{ path('def_list', { 'alpha': 'x' }) }}'>X</a>
<a href='{{ path('def_list', { 'alpha': 'y' }) }}'>Y</a>
<a href='{{ path('def_list', { 'alpha': 'z' }) }}'>Z</a>
</div>
<div class='alpha'>
{% block body %}{% endblock %}   
</div>

</div>
</div>
<map name="Map">
  <area shape="rect" coords="5,223,104,237" href="http://temp.english.uga.edu/dawgspeak/"/>
  <area shape="rect" coords="7,248,162,262" href="http://temp.english.uga.edu/dawgspeak/helpindex.html"/>
  <area shape="rect" coords="6,266,125,281" href="http://temp.english.uga.edu/def"/>
</map>    
</body>
</html>
