{% extends 'EnglishDawgspeakBundle:Def:layout.html.twig' %}
 
{% block body %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Term</th>
            <td>{{ entity.term }}</td>
        </tr>
        <tr>
            <th>Pos1</th>
            <td>{{ entity.pos1 }}</td>
        </tr>
        <tr>
            <th>Def1</th>
            <td>{{ entity.def1|raw }}</td>
        </tr>
        <tr>
            <th>Pos2</th>
            <td>{{ entity.pos2 }}</td>
        </tr>
        <tr>
            <th>Def2</th>
            <td>{{ entity.def2|raw }}</td>
        </tr>
        <tr>
            <th>Pos3</th>
            <td>{{ entity.pos3 }}</td>
        </tr>
        <tr>
            <th>Def3</th>
            <td>{{ entity.def3|raw }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ entity.image }}</td>
        </tr>
        <tr>
            <th>Ref</th>
            <td>{{ entity.ref|raw }}</td>
        </tr>
        <tr>
            <th>Etymology</th>
            <td>{{ entity.etymology }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('def') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('def_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('def_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}