{% extends 'EnglishCalendarBundle:Calendar:layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/jquery-ui-1.8.17.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/englishhome/js/jquery-ui-timepicker-addon.js') }}"></script>
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/englishhome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
{% endblock %}

{% block body %}
<script language="javascript"> 
$(document).ready(function()
{
$('#english_calendarbundle_calendartype_description').ckeditor( function() {}, {height:150, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$( '#english_calendarbundle_calendartype_date' ).datepicker({
showButtonPanel: true,
});
$( '#english_calendarbundle_calendartype_time' ).timepicker({
showButtonPanel: true,
ampm: true,
});
});
</script>

<div class="row divider">
    <div class="cell"><a href="{{ path('calendar') }}">List Calendar Events</a></div>   
</div>

<div class="row">
    <div class="cell">
        <form action="{{ path('calendar_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <button type="submit">Update</button>
        </form>
    </div>    
</div>

<div class="row">
        <div id="delete{{entity.id}}" class="cell"> 
        <button onclick="$('#confirm{{entity.id}}').toggle();$('#delete{{entity.id}}').toggle()" type="submit">Delete</button> 
        </div>
            
        <div id="confirm{{entity.id}}" class="cell hidden"> 
        <form action="{{ path('calendar_delete', { 'id': entity.id}) }}" method="post">
        {{ form_widget(delete_form) }} 
        <button type="submit">Confirm Delete</button> 
        </form>
        <button onclick="$('#confirm{{entity.id}}').toggle();$('#delete{{entity.id}}').toggle()" type="submit">Cancel</button>         
        </div>  
</div> 

{% endblock %}
