{% extends 'EnglishCalendarBundle::subnav.html.twig' %}

{% block content %}
        {% for calendar in calendar %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if app.user.username==calendar.username or is_granted('ROLE_ADMIN') %}
                    <a class="pull-right" href="{{ path('calendar_edit', { 'id': calendar.id }) }}">Update/Delete</a>
                    {% endif %}

                    {{ calendar.date|date("l, F d") }} {{ calendar.time|date("g:i A") }}
                </div>
                <div class="panel-body">
                    <h3>{{ calendar.title }}</h3>
                    <p>{{ calendar.description|raw }}</p>
                </div>
            </div>
        {% else %}
            <div class="panel-body">
                <p>There are currently no events in the calendar.  Please check back soon.</p>
            </div>
        {% endfor %}
{% endblock %}
