{% extends 'EnglishCalendarBundle:Calendar:layout.html.twig' %}
 
{% block body %}
<div class="row"><div class="cell"><a href="{{ path('calendar_new') }}">New</a></div></div>
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('calendar_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif%}</div>
            <div class="cell">{{ entity.time|date('H:i') }}</div>
            <div class="cell">{{ entity.title }}</div>
            <div class="cell">{{ entity.description|raw }}</div>
            <div class="cell">{{ entity.username }}</div>
            <div class="cell">
                <a href="{{ path('calendar_show', { 'id': entity.id }) }}">show</a>
                <a href="{{ path('calendar_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
