 {% extends 'EnglishDescriptionsBundle:Description:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('description_new') }}">New</a></div></div>
    
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('description_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{{ entity.callNumber }}</div>
            <div class="cell">{{ entity.term }}</div>
            <div class="cell">{{ entity.course }}</div>
            <div class="cell">{{ entity.instructorName }}</div>
            <div class="cell">{{ entity.description }}</div>
            <div class="cell">{{ entity.assignments }}</div>
            <div class="cell">{{ entity.requirements }}</div>
            <div class="cell">{{ entity.grading }}</div>
            <div class="cell">{{ entity.attendance }}</div>
            <div class="cell">{{ entity.material }}</div>
            <div class="cell">{{ entity.makeup }}</div>
            <div class="cell">{{ entity.url }}</div>
            <div class="cell">{{ entity.topicsTitle }}</div>
            <div class="cell">{{ entity.topics }}</div>
            <div class="cell">
               <a href="{{ path('description_show', { 'id': entity.id }) }}">show</a>
               <a href="{{ path('description_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
