{% extends 'EnglishDescriptionsBundle:Description:layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block body %}
<script language="javascript"> 
$(document).ready(function()
{
$('#english_descriptionsbundle_descriptiontype_description').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_descriptionsbundle_descriptiontype_assignments').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_descriptionsbundle_descriptiontype_requirements').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_descriptionsbundle_descriptiontype_grading').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_descriptionsbundle_descriptiontype_attendance').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_descriptionsbundle_descriptiontype_material').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('#english_descriptionsbundle_descriptiontype_makeup').ckeditor( function() {}, {height:100, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>
<div class="row divider">
    <div class="cell"><a href="{{ path('course') }}">List Courses</a></div>   
</div>

<div class="row"><div class="cell">
        <form action="{{ path('description_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
</div></div>

{% endblock %}
