 {% extends 'EnglishDescriptionsBundle:Description:layout.html.twig' %}
 
{% block body %}
<div class="row"><div class="cell"><a href="{{ path('description') }}">List</a></div></div> 
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Callnumber</div>
            <div class="cell">{{ entity.callNumber }}</div>
        </div>
        <div class="row">
            <div class="cell">Term</div>
            <div class="cell">{{ entity.term }}</div>
        </div>
        <div class="row">
            <div class="cell">Course</div>
            <div class="cell">{{ entity.course }}</div>
        </div>
        <div class="row">
            <div class="cell">Instructorname</div>
            <div class="cell">{{ entity.instructorName }}</div>
        </div>
        <div class="row">
            <div class="cell">Description</div>
            <div class="cell">{{ entity.description }}</div>
        </div>
        <div class="row">
            <div class="cell">Assignments</div>
            <div class="cell">{{ entity.assignments }}</div>
        </div>
        <div class="row">
            <div class="cell">Requirements</div>
            <div class="cell">{{ entity.requirements }}</div>
        </div>
        <div class="row">
            <div class="cell">Grading</div>
            <div class="cell">{{ entity.grading }}</div>
        </div>
        <div class="row">
            <div class="cell">Attendance</div>
            <div class="cell">{{ entity.attendance }}</div>
        </div>
        <div class="row">
            <div class="cell">Material</div>
            <div class="cell">{{ entity.material }}</div>
        </div>
        <div class="row">
            <div class="cell">Makeup</div>
            <div class="cell">{{ entity.makeup }}</div>
        </div>
        <div class="row">
            <div class="cell">Url</div>
            <div class="cell">{{ entity.url }}</div>
        </div>
        <div class="row">
            <div class="cell">Topicstitle</div>
            <div class="cell">{{ entity.topicsTitle }}</div>
        </div>
        <div class="row">
            <div class="cell">Topics</div>
            <div class="cell">{{ entity.topics }}</div>
        </div>

<div class="row"><div class="cell"><a href="{{ path('course_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('course_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 
    

{% endblock %}
