 {% extends 'EnglishDescriptionsBundle:Description:layout.html.twig' %}
 
{% block body %}
<div class="row divider">
    <div class="cell"><a href="{{ path('course') }}">List Courses</a></div>   
</div>
{% if entity.description != '' %}
<div class="row"><div class="cell bold">Description</div><div class="cell">{% autoescape false %}{{ entity.description }}{% endautoescape %}</div></div>
{% endif %}
{% if entity.assignments != '' %}
<div class="row"><div class="cell bold">Assignments</div><div class="cell">{% autoescape false %}{{ entity.assignments }}{% endautoescape %}</div></div>
{% endif %} 
{% if entity.requirements != '' %}
<div class="row"><div class="cell bold">Requirements</div><div class="cell">{% autoescape false %}{{ entity.requirements }}{% endautoescape %}</div></div>
{% endif %}  
{% if entity.grading != '' %}
<div class="row"><div class="cell bold">Grading</div><div class="cell">{% autoescape false %}{{ entity.grading }}{% endautoescape %}</div></div>
{% endif %}  
{% if entity.attendance != '' %}
<div class="row"><div class="cell bold">Attendance</div><div class="cell">{% autoescape false %}{{ entity.attendance }}{% endautoescape %}</div></div>
{% endif %}  
{% if entity.material != '' %}
<div class="row"><div class="cell bold">Material</div><div class="cell">{% autoescape false %}{{ entity.material }}{% endautoescape %}</div></div>
{% endif %}  
{% if entity.makeup != '' %}
<div class="row divider"><div class="cell bold">Makeup Policy</div><div class="cell">{% autoescape false %}{{ entity.makeup }}{% endautoescape %}</div></div>
{% endif %} 
{% if entity.url != '' %}
<div class="row divider"><div class="cell bold">Course Website</div><div class="cell">{% autoescape false %}{{ entity.url }}{% endautoescape %}</div></div>
{% endif %}
{% if entity.topicsTitle != '' %}
<div class="row divider"><div class="cell bold">Special Topics Title</div><div class="cell">{% autoescape false %}{{ entity.topicsTitle }}{% endautoescape %}</div></div>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="row"><div class="cell">
<a href="{{ path('description_edit', { 'id': entity.id }) }}">Update/Delete</a>
</div></div>
{% endif %} 
    

{% endblock %}
