{% extends 'EnglishHomeBundle:Default:layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/jquery-ui-1.8.17.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/englishhome/js/jquery.cycle.lite.js') }}"></script>
{% endblock %}

{% block body %}

    
<div class="calendar_index">
<div class="head">Calendar</div>
{% for calendar in calendar %}
<div class="cell bold red">{{ calendar.title }}</div>
<div class="cell bold"> {{ calendar.time|date("g:i A") }} {{ calendar.date|date("l, F d") }}</div>
<div class="cell divider">{% autoescape false %}{{ calendar.description }}{% endautoescape %}</div>
{% endfor %}
</div>
    

    

{% endblock %}