{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10 " style="margin-top:20px;padding-top:20px; background-color:#f3f0dd ">

        <div class="col-sm-7 well">
                <a class="pull-right" title="Calendar" href="{{ path('calendar_index') }}">All
                Upcoming Events</a>
                <h2 class="page-header" style="font-family: 'Lora', 'Times New Roman', 'serif';">Calendar</h2>


            {% for calendar in calendar %}
                {{ calendar.date|date("l, F d") }} {{ calendar.time|date("g:i A") }}
                <h3> {{ calendar.title }}</h3>
                <div class="">{% autoescape false %}{{ calendar.description }}{% endautoescape %}</div>
                <hr/>
                {% else %}
                    <div class="">There are no events on our calendar this month.  Please check back.</div>

            {% endfor %}

            {% if special_spotlight %}
                <div class="" style="padding-top: 20px">
                    {% for spotlight in special_spotlight %}
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{ spotlight.title }}</h3>
                            </div>
                            <img src="{{ spotlight.photoUrl }}" alt="{{ spotlight.title }}">
                        </div>
                        <p>{{ spotlight.description|raw }}</p>
                    {% endfor %}
                </div>

            {% endif %}
        </div>


        <div class="col-sm-offset-1 col-sm-4 well">
            <h2 class="page-header"  style="font-family: 'Lora', 'Times New Roman', 'serif';">Spotlight</h2>
            {% for spotlight in spotlight %}
                <div class="thumbnail">
                    <img src="{{ spotlight.photoUrl }}" alt="{{ spotlight.title }}">
                    <div class="caption">
                        <strong>
                            {{ spotlight.title }}
                        </strong>
                    </div>

                </div>
                <p>{{ spotlight.description|raw }}</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}
