{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}


 {% block subnav %}
     {% include 'EnglishPeopleBundle:Default:filter.html.twig' %}
 {% endblock %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #f5f5f5; min-height: 100vh">
    <div class="{% if people[0].photoUrl != '' %}col-sm-6{% else %}col-sm-12{% endif %}">
    {% for people in people %}
        <dl id="listing{{ people.id }}">
            <dt>
                <strong>{{ people.firstName }} {{ people.lastName }}</strong>
                        <span class="pull-right">
                            {% if app.request.pathinfo == '/people/gradfac' %}<a
                                href="{{ path('people_showgradcomm', { 'id': people.id }) }}">Committee
                                Info</a>{% endif %}
                            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('people_admin', { 'id': people.id }) }}">
                                    Permissions</a>{% endif %}
                    </span>
            </dt>
            <dd>
                {{ people.title | raw }}
                Email: <a href="mailto:{{ people.email }}" title="email address">{{ people.email }}</a>
                Phone:
                {{ people.officePhone }}
                Office:
                {{ people.officeNumber }}
            </dd>
        </dl>
        <p>
            {{ people.bio|raw }}
        </p>
        {% if people.officeHours != '' %}
            <p>
                <strong>Office hours: </strong>{{ people.officeHours|raw }}
            </p>
        {% endif %}
        {% if people.vitaUrl != '' %}
            <p>
                <strong>Vita: </strong><a href="{{ people.vitaUrl }}" tabindex="1" title="Vita"
                                          target="_blank">{{ people.vitaUrl }}</a>
            </p>
        {% endif %}
        {% if people.homepageUrl != '' %}
            <p>
                <strong>Website: </strong><a href="{{ people.homepageUrl }}" tabindex="1" title="Website"
                                             target="_blank">{{ people.homepageUrl }}</a>
            </p>
        {% endif %}

        </div>

        {% if people.photoUrl != '' %}
        <div class="col-sm-offset-2 col-sm-4">
            <div class="thumbnail">
                    <img src="{{ people.photoUrl }}" alt="Image of {{ people.firstName }} {{ people.lastName }}">
            </div>
        </div>
        {% endif %}

    {% endfor %}

        <table class="table table-striped">
            {% for courses in peopleCourses %}
                <tr id="course{{ courses.id }}">
                    <td>{{ courses.termName }}</td>
                    <td><strong><a href="{{ path('listings_detail', { 'callNumber': courses.callNumber, 'term': courses.term }) }}"
                                   title="Course Detail">{{ courses.courseName }}</a></strong></td>
                    <td>{{ courses.title }}</td>
                    <td>{{ courses.instructorName|upper }}</td>
                    <td>{{ courses.callNumber }}</td>
                    <td>{{ courses.callNumber2 }}</td>
                    {% if courses.may == 1 %}
                        <td class="cell bold">Maymester</td>{% endif %}
                    <td>{{ courses.days }}</td>
                    <td>{{ courses.time }}</td>
                    <td>{{ courses.building }}</td>
                    <td>{{ courses.room }}</td>

                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}







