{% extends 'EnglishPeopleBundle::subnav.html.twig' %}

{% block content %}
<div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #ffffff; min-height: 100vh">

<p>{% for mentor in mentor %}Your advisor is <strong>{{mentor.aname}}</strong>.{% endfor %}</p>
<p>{% for mentor in mentor %}Your mentor is <strong>{{mentor.mname}}</strong>.{% endfor %}</p>

<p>{{notification}}</p>
<hr/>
    <p>
    <form action="{{ path('whoismymentor') }}" method="post" {{ form_enctype(mentor_form) }}>
        <div class="form-group">
        {{ form_row(mentor_form.email) }}
        <button class="btn btn-default" type="submit">Go</button>
        </div>
    </form>
    </p>

</div>
{% endblock %}
