{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}
 
 
{% block body %}
<div class="row">
<div class='cell'>{% for mentor in mentor %}Your advisor is {{mentor.aname}}.{% endfor %}</div>
</div>
<div class="row">
<div class='cell'>{% for mentor in mentor %}Your mentor is {{mentor.mname}}.{% endfor %}</div>
</div>
<div class="row">
<div class='cell'>{{notification}}</div>
</div>
<div class="row">
<form action="{{ path('whoismymentor') }}" method="post" {{ form_enctype(form) }}>

<div class="cell">
{{ form_widget(form) }}
</div> 
<div class="cell">
<button type="submit">Find my advisor and mentor</button>
</div> 

</form> 
</div>
{% endblock %}
