{% extends 'EnglishPeopleBundle::subnav.html.twig' %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #ffffff; min-height: 100vh">
        {% for people in people %}
            <dl id="listing{{ people.id }}">
                <dt>
                    <a id="detailLink{{ people.id }}" href="{{ path('directory_detail', { 'id': people.id }) }}"
                       title="Detail"><strong>{{ people.firstName }} {{ people.lastName }}</strong></a>
                        <span class="pull-right">
                        {% if app.request.pathinfo == '/people/gradfac' %}<a
                            href="{{ path('people_showgradcomm', { 'id': people.id }) }}">Committee Info</a>{% endif %}
                    </span>
                    {% if not people.detail %}
                    <a  class="btn btn-default" href="{{ path('detail_new', { 'id': people.id }) }}"
                       title="Detail for TAs">Create TA/Instructor Info.</a>
                    {% else %}
                        <a  class="btn btn-default" href="{{ path('detail_show', { 'id': people.detail.id }) }}"
                            title="Detail for TAs">View TA/Instructor Info.</a>
                    {% endif %}

                </dt>
                <dd>
                    {{ people.title | raw }}
                    <a href="mailto:{{ people.email }}" title="email address">{{ people.email }}</a>
                    {% if people.officePhone != '' %}
                        <span class="margin-left">
                    Phone: {{ people.officePhone }}
                    </span>
                    {% endif %}
                    {% if people.officeNumber != '' %}
                        <span class="margin-left">
                    Office:
                            {{ people.officeNumber }}
                    </span>
                    {% endif %}
                </dd>
            </dl>
        {% endfor %}
    </div>

{% endblock %}
