{% extends 'EnglishPeopleBundle::subnav.html.twig' %}

{% block content %}
<div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #ffffff; min-height: 100vh">
        {% for people in people %}
            <dl id="listing{{ people.id }}">
                <dt>
                    <a id="detailLink{{ people.id }}"  href="{{ path('directory_detail', { 'id': people.id }) }}" title="Detail"><strong>{{ people.firstName }} {{ people.lastName }}</strong></a>
                        <span class="pull-right">
                        {% if app.request.pathinfo == '/people/gradfac' %}<a href="{{ path('people_showgradcomm', { 'id': people.id }) }}">Committee Info</a>{% endif %}
                    </span>
                </dt>
                <dd>
                    {{ people.title | raw }}
                    Email: <a href="mailto:{{ people.email }}" title="email address">{{ people.email }}</a>
                    Phone:
                    {{ people.officePhone }}
                    Office:
                    {{ people.officeNumber }}
                </dd>
            </dl>
        {% endfor %}
</div>

{% endblock %}
