{% extends 'EnglishPeopleBundle:People:layout.html.twig' %}
 
 
{% block body %}
    
    <script language="javascript"> 
    $(document).ready(function()
    {
    $("#loading").fadeOut("slow");
    });
    </script>
    {% include 'EnglishPeopleBundle:Default:filter.html.twig' %}
     {% for people in people %}
     <div id="listing{{ people.id }}" class="row_even divider">
     <div class="row">
     <div class="cell bold"><a id="detailLink{{ people.id }}" href="{{ path('directory_detail', { 'id': people.id }) }}" tabindex="1" title="Detail" >{{ people.firstName }} {{ people.lastName }}</a></div>
     </div>
     <div class="row">
     <div class="cell title">{{ people.title | raw }}</div>
     </div>
     <div class="row">
     <div class="cell bold">Email:</div> <div class="cell"><a href="mailto:{{ people.email }}" tabindex="1" title="email address" >{{ people.email }}</a></div>
     <div class="cell bold">Phone:</div> <div class="cell">{{ people.officePhone }}</div>
     <div class="cell bold">Office:</div> <div class="cell">{{ people.officeNumber }}</div>
     </div>
     </div>    
     {% endfor %}
{% endblock %}
