{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#confirm').toggle();
        });
    </script>
{% endblock %}

{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default subnav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><h3  style="margin-top: 0px;margin-left: 20px;">{% if currentType != 'Search' %}{{ currentTerm.termName}}{% endif %} {{ currentType }}</h3></a>
            </div>
            <div id="subnav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Term <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            {% for terms in terms %}
                                <li><a id="termLink{{ terms.term }}" href="{{ path('listings_list', { 'term': terms.term, 'type': currentType  }) }}" title="Select term" >{{ terms.termName }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>


                    <li><a id="compLink" href="{{ path('listings_list', { 'term': currentTerm.term, 'type': 'FYC'  }) }}" title="List Composition Courses" >Composition</a></li>
                    <li><a id="sophLink" href="{{ path('listings_list', { 'term': currentTerm.term, 'type': 'Surveys'  }) }}" title="List Survey Courses" >2nd Year Surveys</a></li>
                    <li><a id="upperink" href="{{ path('listings_list', { 'term': currentTerm.term, 'type': 'Upper'  }) }}" title="List Upper Division Courses" >Upper Division</a></li>
                    <li><a id="upperink" href="{{ path('listings_byarea', { 'term': currentTerm.term }) }}" title="List Upper Division Courses by Area" >Upper by Area</a></li>
                    <li><a id="gradink" href="{{ path('listings_list', { 'term': currentTerm.term, 'type': 'Graduate'  }) }}" title="List Graduate Courses" >Graduate</a></li>

                </ul>
                <form class="navbar-form navbar-right hidden-sm" role="search" action="{{ path('listings') }}" method="post" {{ form_enctype(search_form) }}>
                    <div class="form-group">
                        {{ form_row(search_form.courseName) }}{{ form_row(search_form.term) }}
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </form>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
{% endblock %}