{% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block body %}

<script language="javascript"> 
$(document).ready(function()
{
$('#english_majorsbundle_majortype_notes').ckeditor( function() {}, {height:150, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>

<div class="row">
    <div class="cell"><a href="{{ path('major') }}">List</a></div>   
</div>

<div class="row"><div class="cell">
<form action="{{ path('major_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
    <div class="row"><div class="cell">{{ form_errors(edit_form) }}</div></div>
    
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.name) }}</div>
    <div class="cell">{{ form_errors(edit_form.name) }}</div>
    <div class="cell">{{ form_widget(edit_form.name) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.email) }}</div>
    <div class="cell">{{ form_errors(edit_form.email) }}</div>
    <div class="cell">{{ form_widget(edit_form.email) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.advisor) }}</div>
    <div class="cell">{{ form_errors(edit_form.advisor) }}</div>
    <div class="cell">{{ form_widget(edit_form.advisor) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.mentor) }}</div>
    <div class="cell">{{ form_errors(edit_form.mentor) }}</div>
    <div class="cell">{{ form_widget(edit_form.mentor) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.firstMajor) }}</div>
    <div class="cell">{{ form_errors(edit_form.firstMajor) }}</div>
    <div class="cell">{{ form_widget(edit_form.firstMajor) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.secondMajor) }}</div>
    <div class="cell">{{ form_errors(edit_form.secondMajor) }}</div>
    <div class="cell">{{ form_widget(edit_form.secondMajor) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.aoe) }}</div>
    <div class="cell">{{ form_errors(edit_form.aoe) }}</div>
    <div class="cell">{{ form_widget(edit_form.aoe) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.can) }}</div>
    <div class="cell">{{ form_errors(edit_form.can) }}</div>
    <div class="cell">{{ form_widget(edit_form.can) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.minor) }}</div>
    <div class="cell">{{ form_errors(edit_form.minor) }}</div>
    <div class="cell">{{ form_widget(edit_form.minor) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.honors) }}</div>
    <div class="cell">{{ form_errors(edit_form.honors) }}</div>
    <div class="cell">{{ form_widget(edit_form.honors) }}</div></div>

    <div class="row"><div class="cell width75">{{ form_label(edit_form.notes) }}</div>
    <div class="cell">{{ form_errors(edit_form.notes) }}</div>
    <div class="cell">{{ form_widget(edit_form.notes) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.hours) }}</div>
    <div class="cell">{{ form_errors(edit_form.hours) }}</div>
    <div class="cell">{{ form_widget(edit_form.hours) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.gpa) }}</div>
    <div class="cell">{{ form_errors(edit_form.gpa) }}</div>
    <div class="cell">{{ form_widget(edit_form.gpa) }}</div></div>
    
    <div class="row"><div class="cell width75">{{ form_label(edit_form.checkedin) }}</div>
    <div class="cell">{{ form_errors(edit_form.checkedin) }}</div>
    <div class="cell">{{ form_widget(edit_form.checkedin) }}</div></div>
  
        
    <div class="row"><div class="cell">{{ form_rest(edit_form) }}</div></div>
        
        
    <button type="submit">Update</button>
   


</form>
</div></div>


<div class="row">
    <div class="cell"> 
        <form action="{{ path('major_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }} 
        <button type="submit">Delete</button> 
        </form>
    </div>
</div>

{% endblock %}
