 {% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}
 
 {% block body %}

<div class="row">
    <div class="cell"><a href="{{ path('major') }}">List</a></div>   
</div>

<div class="row">
    <div class="cell">
        <form action="{{ path('major_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <button type="submit">Update</button>
        </form>
    </div>    
</div>

<div class="row">
    <div class="cell"> 
        <form action="{{ path('major_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }} 
        <button type="submit">Delete</button> 
        </form>
    </div>
</div>

{% endblock %}
