{% extends 'EnglishMajorsBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well" style="background-color: #f5f5f5; height: 100vh">
        <div class="">
            Number found:  {{ majors|length }}

        <form style="margin-top:-30px;" class='pull-right' action="{{ path('major_find') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                {{ form_row(form.name) }}
                <button  class="btn btn-default" type="submit">Major Find</button>
            </div>

        </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Advisor</td>
                <td>Mentor</td>
                <td>Major</td>
                <td>CAN</td>
                <td>AOE</td>
                <td>Hours</td>
                <td>GPA</td>
            </tr>
            </thead>
            <tbody>
            {% for major in majors %}
                <tr>
                    <td>{% if major.checkedin ==0 %}**{% endif %}<a
                                href="{{ path('major_show', { 'id': major.id }) }}">{{ major.name }}</a></td>
                    <td>{{ major.email }}</td>
                    <td>{{ major.aName }}</td>
                    <td>{{ major.eName }}</td>
                    <td>{{ major.firstMajor }}{% if major.secondMajor != 'none' %}/{{ major.secondMajor }}{% endif %}</td>
                    <td>{{ major.can }}</td>
                    <td>{{ major.aoe }}</td>
                    <td>{{ major.hours }}</td>
                    <td>{{ major.gpa }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %} 

