 {% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('major_new') }}">New</a></div></div>
   
    {% for entity in entities %}
        <div class="row">
            <div class="cell bold width150">{{ entity.name }}</div>
            <div class="cell width200">{{ entity.email }}</div>
            <div class="cell width50">{{ entity.advisor }}</div>
            <div class="cell width50">{{ entity.mentorUserName }}</div>
            <div class="cell width50">{{ entity.firstMajor }}</div>
            <div class="cell width50">{{ entity.secondMajor }}</div>
            <div class="cell width150">{{ entity.aoe }}</div>
            <div class="cell">
                <a href="{{ path('major_show', { 'id': entity.id }) }}">show</a>
                <a href="{{ path('major_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    


{% endblock %}
