{% extends 'EnglishMajorsBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">
        <div class="">
            Number found:  {{ majors|length }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Advisor</th>
                <th>Mentor</th>
                <th>Major</th>
                <th>CAN</th>
                <th>AOE</th>
                <th>Mentored</th>
            </tr>
            </thead>
            <tbody>
            {% for major in majors %}
                <tr>
                    <td><a href="{{ path('major_show', { 'id': major.id }) }}">{{ major.name }}</a></td>
                    <td>{{ major.email }}</td>
                    <td>{{ major.aName }}</td>
                    <td>{{ major.eName }}</td>
                    <td>{{ major.firstMajor }}{% if major.secondMajor != 'none' %}/{{ major.secondMajor }}{% endif %}</td>
                    <td>{{ major.can }}</td>
                    <td>{{ major.aoe }}</td>
                    <td>{{ major.termMentored }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %} 

