 {% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('major_new') }}">New</a></div></div>
   
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('major_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{{ entity.name }}</div>
            <div class="cell">{{ entity.email }}</div>
            <div class="cell">{{ entity.advisor }}</div>
            <div class="cell">{{ entity.mentorUserName }}</div>
            <div class="cell">{{ entity.firstMajor }}</div>
            <div class="cell">{{ entity.secondMajor }}</div>
            <div class="cell">{{ entity.aoe }}</div>
            <div class="cell">{{ entity.can }}</div>
            <div class="cell">{{ entity.minor }}</div>
            <div class="cell">{{ entity.status }}</div>
            <div class="cell">{{ entity.notes }}</div>
            <div class="cell">{{ entity.honors }}</div>
            <div class="cell">{{ entity.advisorId }}</div>
            <div class="cell">{{ entity.mentorId }}</div>
            <div class="cell">
                <a href="{{ path('major_show', { 'id': entity.id }) }}">show</a>
                <a href="{{ path('major_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    


{% endblock %}
