 {% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}
 
 {% block body %}


    {% if is_granted('ROLE_ADVISORADMIN') %}
<div class="row_contrast divider">
    {% include 'EnglishMajorsBundle:Major:nav.html.twig' %}
      <form action="{{ path('major_find') }}" method="post" {{ form_enctype(form) }}>
        <div class='cell right'>
        <div class="cell">
        {{ form_widget(form) }}
        </div>         
        <div class="cell">
        <button type="submit">Major Find</button>
        </div> 
        </div>        
     </form> 
    <div class="row divider">
    <div class="cell"><a href="{{ path('major_new') }}">New Major</a></div>
    </div>
</div>
    {% endif %}

<div class="row">
    <div class="cell width200 bold">
    Number found:  {{ entities|length }} 
    </div>
</div>
<div class="row">
    <div class="cell width200 bold">Name</div>
    <div class="cell width200 bold">Email</div>
    <div class="cell width75 bold">Advisor</div>
    <div class="cell width75 bold">Mentor</div>
    <div class="cell width100 bold">First Major</div>
    <div class="cell width50 bold">810</div>
    <div class="cell width50 bold">AoE</div>
</div>

    {% for entity in entities %}
        <div class="row">
            <div class="cell bold width200">{% if entity.checkedin ==0 %}**{% endif %}<a href="{{ path('major_show', { 'id': entity.id }) }}">{{ entity.name }}</a></div>
            <div class="cell width200">{{ entity.email }}</div>
            <div class="cell width75">{{ entity.aName }}</div>
            <div class="cell width75">{{ entity.eName }}</div>
            <div class="cell width100">{{ entity.firstMajor }}</div>
            <div class="cell width50">{{ entity.can }}</div>
            <div class="cell width100">{{ entity.aoe }}</div>
        </div>
    {% endfor %}
    


{% endblock %}
