 {% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}
 
 {% block body %}

<div class="row_contrast divider">
    {% if is_granted('ROLE_ADVISORADMIN') %}
    {% include 'EnglishMajorsBundle:Major:nav.html.twig' %}
      <form action="{{ path('major_find') }}" method="post" {{ form_enctype(form) }}>
        <div class='cell right'>
        <div class="cell">
        {{ form_widget(form) }}
        </div>         
        <div class="cell">
        <button type="submit">Major Find</button>
        </div> 
        </div>        
     </form> 
    {% endif %}
</div>
   
    {% for entity in entities %}
        <div class="row">
            <div class="cell bold width150"><a href="{{ path('major_show', { 'id': entity.id }) }}">{{ entity.name }}</a></div>
            <div class="cell width200">{{ entity.email }}</div>
            <div class="cell width100">{{ entity.aName }}</div>
            <div class="cell width100">{{ entity.eName }}</div>
            <div class="cell width50">{{ entity.firstMajor }}</div>
            <div class="cell width50">{{ entity.secondMajor }}</div>
            {% if entity.hours %}<div class="cell width50">{{ entity.hours }}</div>{% endif %}
            {% if entity.gpa %}<div class="cell width50">{{ entity.gpa }}</div>{% endif %}
        </div>
    {% endfor %}
    


{% endblock %}
