  
    <div class="cell"><a href="{{ path('major_new') }}">New Major</a></div>
    <div class="cell"><a title="Advisors" href="{{ path('advisor') }}" >List Advisors</a></div>
    <div class="cell"><a title="Mentors" href="{{ path('mentor') }}" >List Mentors</a></div>
    <div class="cell"><a title="Majors" href="{{ path('major') }}" >List All Majors</a></div>
    <div class="cell"><a title="Advanced Find" href="{{ path('major_advancedform') }}" >Advanced Find</a></div>

