{% extends 'EnglishMajorsBundle:Major:layout.html.twig' %}
 
{% block body %}
<div class="row divider"><div class="cell"><a href="{{ path('major') }}">List</a></div></div>

        <div class="row">
            <div class="cell">Name</div>
            <div class="cell">{{ entity.name }}</div>
        </div>
        <div class="row">
            <div class="cell">Email</div>
            <div class="cell">{{ entity.email }}</div>
        </div>
        <div class="row">
            <div class="cell">Advisor</div>
            <div class="cell">{{ entity.advisor }}</div>
        </div>
        <div class="row">
            <div class="cell">Mentorusername</div>
            <div class="cell">{{ entity.mentorUserName }}</div>
        </div>
        <div class="row">
            <div class="cell">Firstmajor</div>
            <div class="cell">{{ entity.firstMajor }}</div>
        </div>
        <div class="row">
            <div class="cell">Secondmajor</div>
            <div class="cell">{{ entity.secondMajor }}</div>
        </div>
        <div class="row">
            <div class="cell">Aoe</div>
            <div class="cell">{{ entity.aoe }}</div>
        </div>
        <div class="row">
            <div class="cell">Can</div>
            <div class="cell">{{ entity.can }}</div>
        </div>
        <div class="row">
            <div class="cell">Minor</div>
            <div class="cell">{{ entity.minor }}</div>
        </div>
        <div class="row">
            <div class="cell">Status</div>
            <div class="cell">{{ entity.status }}</div>
        </div>
        <div class="row divider">
            <div class="cell">Honors</div>
            <div class="cell">{{ entity.honors }}</div>
        </div>
        <div class="row divider">
            <div class="cell">Notes</div>
            <div class="cell">{{ entity.notes | raw }}</div>
        </div>
<div class="row"><div class="cell"><a href="{{ path('major_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('major_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 
{% endblock %}
