{% extends 'EnglishMajorsBundle::subnav.html.twig' %}

{% block content %}

    {% set mid = major.id %}
    <div class="col-sm-offset-1 col-sm-10 well" style="background-color: #f5f5f5; height: 100vh">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Advisor</td>
                <td>Mentor</td>
                <td>Major</td>
                <td>CAN</td>
                <td>AOE</td>
                <td>Hours</td>
                <td>GPA</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% if major.checkedin ==0 %}**{% endif %}<strong>{{ major.name }}</strong></td>
                <td>{{ major.email }}</td>
                <td>{{ major.advisor.name }}</td>
                <td>{{ major.mentor.name }}</td>
                <td>{{ major.firstMajor }}{% if major.secondMajor != 'none' %}/{{ major.secondMajor }}{% endif %}</td>
                <td>{{ major.can }}</td>
                <td>{{ major.aoe }}</td>
                <td>{{ major.hours }}</td>
                <td>{{ major.gpa }}</td>
            </tr>
            </tbody>
        </table>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Notes</h3>
            </div>
            <div class="panel-body">
                {{ major.notes | raw }}
                {% if is_granted('ROLE_ADVISORADMIN') %}
                    <a href="{{ path('major_edit', { 'id': major.id }) }}">Update/Delete</a>
                {% endif %}
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group btn-group-sm pull-right" style="">
                    <a class="btn btn-default" href="{{ path('majornote_new', { 'id': major.id }) }}">Add
                        Note</a>
                    <a class="btn btn-default" id='mentor_email' href="{{ path('majornote_email', { 'id': major.id }) }}">Email Mentored
                        Notification</a>
                </div>
                <h3 class="panel-title">Mentor Notes </h3>

                <span id='processing' class='' style='display:none;'>Processing</span>
            </div>
            <div class="panel-body">

                <dl>
                    {% for notes in notes %}
                        <dt>
                            {{ notes.updated |date('h:i A M d, Y') }}
                        </dt>
                        <dd>
                            {{ notes.notes | raw }}
                            <a href="{{ path('majornote_edit', { 'id': notes.id }) }}">Update/Delete</a>
                        </dd>
                    {% endfor %}

                </dl>
            </div>
        </div>

        <script language="javascript">
            $('#mentor_email').click(function () {
                $('#mentor_email').toggle();
                $('#processing').toggle();
            });
        </script>

    </div>

{% endblock %}

