{% extends 'EnglishDonateBundle:Donate:layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/englishhome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/englishhome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}


{% block body %}

<script language="javascript"> 
$(document).ready(function()
{
$('#english_donatebundle_donatetype_description').ckeditor( function() {}, {height:150, skin: 'chris',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','Table','Smiley','SpecialChar','RemoveFormat'],
],} );
});
</script>


<div class="row"><div class="cell">    
        <a href="{{ path('donate') }}">
            Back to the list
        </a>
</div></div>

<div class="row"><div class="cell">
<form action="{{ path('donate_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>
</div></div> 

     
 <div class="row"><div class="cell">   
        <form action="{{ path('donate_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
</div></div>     
{% endblock %}
