{% extends 'EnglishDonateBundle:Donate:layout.html.twig' %}
 
{% block body %}   
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="welcome"><div class="head">Make a Gift</div></div>
{% endif %}
        <div class="row divider">
            <div class="cell bio_photo"><div class="photo_cell"><img class="image" alt="Photo" src="{{ entity.image }}"/></div></div> 
            <div class="cell bio_text">
              <div class="cell bold">{{ entity.fund }}</div>
              <div class="cell">{{ entity.description|raw }}</div>
              <div class="cell"><a href="{{ entity.link }}" title="Make an Online Gift Now" target="_blank">Make an Online Gift Now</a></div>
            </div>
        </div>


 <div class="row"><div class="cell">   
        <a href="{{ path('donate') }}">
            Return to the List of funds
        </a>
</div></div> 
{% if is_granted('ROLE_ADMIN') %}
 <div class="row"><div class="cell">   
        <a href="{{ path('donate_edit', { 'id': entity.id }) }}">
            Edit
        </a>
</div></div>      
<div class="row"><div class="cell">    
        <form action="{{ path('donate_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
 </div></div> 
{% endif %}
{% endblock %}
