{% extends 'EnglishPublicationsBundle:Publications:layout.html.twig' %}
 
{% block body %}

<div class="row">
<div class="cell">Id</div>
<div class="cell">{{ entity.id }}</div>
</div>
<div class="row">
<div class="cell">Description</div>
<div class="cell">{{ entity.description }}</div>
</div>





<a href="{{ path('publications') }}">
Back to the list
</a>


<a href="{{ path('publications_edit', { 'id': entity.id }) }}">
Edit
</a>


<form action="{{ path('publications_delete', { 'id': entity.id }) }}" method="post">
{{ form_widget(delete_form) }}
<button type="submit">Delete</button>
</form>

{% endblock %}
