{% extends 'EnglishGradnotesBundle:Gradnotes:layout.html.twig' %}
 
{% block body %}
<div class="row"><div class="cell"><a href="{{ path('gradnote') }}">List</a></div></div>
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Gid</div>
            <div class="cell">{{ entity.gid }}</div>
        </div>
        <div class="row">
            <div class="cell">Notes</div>
            <div class="cell">{{ entity.notes }}</div>
        </div>
    
<div class="row"><div class="cell"><a href="{{ path('gradnote_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('gradnote_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 

{% endblock %}
