 {% extends 'EnglishGradnotesBundle:Gradnotes:layout.html.twig' %}
 
 {% block body %}

        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Gid</div>
            <div class="cell">{{ entity.gid }}</div>
        </div>
        <div class="row">
            <div class="cell">Notes</div>
            <div class="cell">{{ entity.notes }}</div>
        </div>
    

    
        <a href="{{ path('gradnotes') }}">
            Back to the list
        </a>
    
    
        <a href="{{ path('gradnotes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    
    
        <form action="{{ path('gradnotes_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    

{% endblock %}
