{% extends 'EnglishFilesBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for file in files %}
                <tr>
                    <td><a title="{{ file.name }}" href="{{ path('file_view', { 'id': file.id }) }}">{{ file.name }}</a><br/>
                        {{ file.description }}
                        <div class="btn-group pull-right">
                            {% if is_granted('ROLE_SEARCHADMIN') %}<a href="{{ path('file_edit', { 'id': file.id }) }}">Edit/Delete</a>
                            {% endif %}
                        </div>

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        Click the search name in the menu above.
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}


