{% extends 'EnglishFilesBundle:File:layout.html.twig' %}
 
{% block body %}

<div class="row"><div class="cell"><a href="{{ path('file_upload') }}">Upload</a></div></div>
    
{% for entity in entities %}
    <div class='row divider'>
        <div class="cell"><a title="{{ entity.name }}" href="../../uploads/files/{{ entity.path }}">{{ entity.name }}</a></div>
        <div class="cell right"><a href="{{ path('file_show', { 'id': entity.id }) }}">Detail</a></div>
        <div class="cell right"><a href="{{ path('file_edit', { 'id': entity.id }) }}">Edit</a></div>
    </div>

    {% endfor %}

{% endblock %}
