{% if app.request.get('section') =='newsletter' %}
{% set subnav = 'EnglishPagesBundle::subnav.html.twig' %}
{% else %}
{% set subnav = 'EnglishFilesBundle::subnav.html.twig' %}
{% endif %}
{% extends subnav %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for file in files %}
                <tr>
                    <td><a title="{{ file.name }}" href="{{ path('public_view', { 'id': file.id, 'sub':app.request.get('section')}) }}">{{ file.name
                            }}</a></td>
                    <td><input class="form-control pull-right" style="width:500px;" value="{{ path('public_view', { 'id': file.id, 'sub':app.request.get('section') })
                        }}"/></td>
                    <td>{{ file.description }}</td>
                    <td>{% if is_granted('ROLE_SEARCHADMIN') %}<a href="{{ path('file_edit', { 'id': file.id }) }}">Edit/Delete</a>{% endif %}</td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        Click the search name in the menu above.
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}


