{% extends 'EnglishFilesBundle:File:layout.html.twig' %}
 
{% block body %}
<div class="row"><div class="cell"><a href="{{ path('file',{'labelid':entity.label.id}) }}">List</a></div></div>   
        <div class="row">
            <div class="cell bold">Name</div>
            <div class="cell">{{ entity.name }}</div>
        </div>
        <div class="row">
            <div class="cell bold">Description</div>
            <div class="cell">{{ entity.description }}</div>
        </div>
    
<div class="row"><div class="cell"><a href="{{ path('file_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('file_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 
    
{% endblock %}
