{% extends 'EnglishGradcomBundle:Gradcom:layout.html.twig' %}
 
{% block body %}
<div class="row divider"><div class="cell"><a href="{{ path('gradcom') }}">List Committee Chairs</a></div></div>
    {% for entity in entities %}
    {% if loop.index == 1 %}
        <div class="row divider">        
            <div class="cell">{{ entity.gfirstname }} {{ entity.glastname }}</div>
            <div class="cell"><a href="{{ path('people_show', { 'id': entity.gid }) }}">Detail</a></div>
        </div>
    {% endif %}
        <div class="row">        
            <div class="cell">{{ entity.flastname }}</div>
            <div class="cell">{% if entity.frole == 2 %}Chair{% endif %}</div>
        </div>
    {% endfor %}

{% endblock %}
