 {% extends 'EnglishGradcomBundle:Gradcom:layout.html.twig' %}
 
 {% block body %}
    
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Gid</div>
            <div class="cell">{{ entity.gid }}</div>
        </div>
        <div class="row">
            <div class="cell">Fid</div>
            <div class="cell">{{ entity.fid }}</div>
        </div>
        <div class="row">
            <div class="cell">Frole</div>
            <div class="cell">{{ entity.frole }}</div>
        </div>
        <div class="row">
            <div class="cell">Status</div>
            <div class="cell">{{ entity.status }}</div>
        </div>

    
        <a href="{{ path('gradcom') }}">
            Back to the list
        </a>
    
    
        <a href="{{ path('gradcom_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    
    
        <form action="{{ path('gradcom_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    

{% endblock %}
