{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- tablesorter plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ asset('bundles/englishhome/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("table").tablesorter();
            $('#confirm').toggle();
        });
    </script>
{% endblock %}

{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default subnav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="subnav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="#">Majors</a></li>
                    {% if is_granted('ROLE_ADVISORADMIN') %}
                        <li><a href="{{ path('major_new') }}">Add a New Major</a></li>
                        <li><a title="Majors" href="{{ path('major') }}" >All Majors</a></li>
                        <li><a title="Advisors" href="{{ path('advisor') }}" >Advisors</a></li>
                        <li><a title="Mentors" href="{{ path('mentor') }}" >Mentors</a></li>
                        <li><a title="Create New Advisor" href="{{ path('advisor_new') }}" >New Advisor</a></li>
                        <li><a title="Create New Mentors" href="{{ path('mentor_new') }}" >New Mentor</a></li>
                        <li><a title="Advanced Find" href="{{ path('major_advancedform') }}" >Advanced Find</a></li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" role="search" action="{{ path('major_find') }}" method="post" {{ form_enctype(find_form) }}>
                    <div class="form-group">
                        {{ form_row(find_form.name) }}
                    </div>
                    <button type="submit" class="btn btn-default">Find</button>
                </form>


            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

{% endblock %}