{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#confirm').toggle();
            $(document).ready(function () {
                $("input:submit").addClass("btn btn-primary btn-lg btn-block");
                $("input:text").addClass("form-control");
                $("input:password").addClass("form-control");
                $( "#toggle-menu" ).click(function() {
                    alert( "Handler for .click() called." );
                });
            });
        });
    </script>
{% endblock %}

{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation" style="margin-top: 30px;margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Majors</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADVISORADMIN') %}
                        <li><a href="{{ path('major_new') }}">Add a New Major</a></li>
                        <li><a title="Majors" href="{{ path('major') }}" >List All Majors</a></li>
                        <li><a title="Advisors" href="{{ path('advisor') }}" >List Advisors</a></li>
                        <li><a title="Mentors" href="{{ path('mentor') }}" >List Mentors</a></li>
                        <li><a title="Advanced Find" href="{{ path('major_advancedform') }}" >Advanced Find</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

{% endblock %}