{% extends 'EnglishHomeBundle::layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#confirm').toggle();
            $(".toggle_subnav").click(function(){
                $(this).toggleClass('active, inactive');
            })
        });
    </script>
{% endblock %}


{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default subnav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if 'pages_show' in app.request.get('_route' ) %}
                <a class="navbar-brand"
                   href="#">

                    <h1 class="small" style="margin-top: 0px;margin-left: 20px;">
                        {% if page.section.name == 'grad' %}Graduate Studies in English
                        {% elseif  page.section.name == 'undergrad' %}Undergraduate Studies in English
                        {% elseif  page.section.name == 'fyc' %}First-year Composition
                        {% elseif  page.section.name == 'dept' %}Department Information
                        {% elseif  page.section.name == 'newsletter' %}Park Hall Monitor
                        {% elseif  page.section.name == 'cwp' %}Creative Writing Program
                        {% elseif  page.section.name == 'donate' %}Make a Gift
                        {% endif %}
                        {% else %}
                            Sections

                    </h1>
                </a>
                {% endif %}
            </div>
            {% if is_granted('ROLE_PAGEADMIN') %}
                <div id="subnav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if 'section' in app.request.get('_route' ) %}
                            <li>
                                <a href="{{ path('section') }}">List Sections</a>
                            </li>
                            <li>
                                <a href="{{ path('section_new') }}">Add Section</a>
                            </li>
                        {% endif %}
                        {% if 'pages_show' in app.request.get('_route' ) or 'newsletter_show' in app.request.get('_route' ) %}
                            <li>
                                <a href="{{ path('pages_new', {'sectionid':section.id, 'pageid':0 }) }}">Add
                                    Page</a>
                            </li>
                            {% if 'pages_show' in app.request.get('_route' ) %}
                                <li>
                                    <a href="{{ path('pages_new', {'sectionid':section.id, 'pageid':page.id}) }}">Add
                                        SubPage</a>
                                </li>
                            {% endif %}

                        {% endif %}
                        <li><a title="List Images" href="{{ path('file', {'section': 'newsletter', 'labelid':labelid}) }}">List Images</a></li>
                        <li><a href="{{ path('file_upload') }}">Upload Images</a></li>
                    </ul>
                </div>
            {% endif %}
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

{% endblock %}
