{% extends 'EnglishPagesBundle::subnav.html.twig' %}

{% block content %}
        <h3>{{ section.name }}</h3>
        <table class="table table-striped">
            {% for page in section.pages %}
                <tr>
                    <td>
                        {% if page.link is null or page.link == '' %}
                            <a href="{{ path('pages_show', { 'id': page.id, 'sub':page.section.name }) }}">{{ page.menuname }}</a>
                        {% else %}
                            <a target="_blank" href="{{ page.link }}">{{ page.menuname }}</a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('pages_edit', { 'id': page.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
