 {% extends 'EnglishLinksBundle:Link:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('link_new') }}">New</a></div></div>
    {% for entity in entities %}
        <div class="row">
            <div class="cell"><a href="{{ path('link_show', { 'id': entity.id }) }}">{{ entity.id }}</a></div>
            <div class="cell">{{ entity.url }}</div>
            <div class="cell">{{ entity.title }}</div>
            <div class="cell">{{ entity.type }}</div>
            <div class="cell">
                <a href="{{ path('link_show', { 'id': entity.id }) }}">show</a>
                <a href="{{ path('link_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
