 {% extends 'EnglishLinksBundle:Link:layout.html.twig' %}
 
 {% block body %}
    
        <div class="row">
            <div class="cell">Id</div>
            <div class="cell">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="cell">Url</div>
            <div class="cell">{{ entity.url }}</div>
        </div>
        <div class="row">
            <div class="cell">Title</div>
            <div class="cell">{{ entity.title }}</div>
        </div>
        <div class="row">
            <div class="cell">Type</div>
            <div class="cell">{{ entity.type }}</div>
        </div>

    
        <a href="{{ path('link') }}">
            Back to the list
        </a>
    
    
        <a href="{{ path('link_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    
    
        <form action="{{ path('link_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    

{% endblock %}
