{% extends 'EnglishTermBundle:Term:layout.html.twig' %}
 
{% block body %}
<div class="row divider"><div class="cell"><a href="{{ path('term') }}">List Terms</a></div></div>    
        <div class="row">
            <div class="cell">Term</div>
            <div class="cell">{{ entity.term }}</div>
        </div>
        <div class="row">
            <div class="cell">Termname</div>
            <div class="cell">{{ entity.termName }}</div>
        </div>
        <div class="row">
            <div class="cell">Type</div>
            <div class="cell">{% if entity.type == 1 %}Display in Menu{% elseif entity.type == 2 %}Default{% endif %}</div>
        </div>
 
<div class="row"><div class="cell"><a href="{{ path('term_edit', { 'id': entity.id }) }}">Edit</a></div></div>   
<div class="row"><div class="cell"> 
    <form action="{{ path('term_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
    </form>
</div>
</div> 

{% endblock %}
