{% extends 'EnglishSpotlightBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for slide in spotlight %}
                <tr>
                    <td>

                        <p><img src="{{ slide.photoUrl }}"
                                alt="{{ slide.title }}"></p>

                        <strong>
                            {{ slide.title }}
                        </strong>

                        <p>{{ slide.description|raw }}</p>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('spotlight_edit', { 'id': slide.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}