{% extends 'EnglishSpotlightBundle:Spotlight:layout.html.twig' %}
 
{% block body %}

<!--
<div class="row"><div class="cell"><a href="{{ path('spotlight_new') }}">New</a></div></div>
-->

{% for entity in entities %}   
<div class="spotlight">
<div class="head">Spotlight</div>

<div class="photo_cell"><div class="photo"><img class="image" name="spotlight" alt="{{ entity.title }}" src="{{ entity.photoUrl }}"/></div></div>
<div class="cell red">{{ entity.title }}</div>
<div class="cell">{% autoescape false %}{{ entity.description }}{% endautoescape %}</div>

</div>
<div class="row divider">
    <div class="cell">
<a href="{{ path('spotlight_edit', { 'id': entity.id }) }}">Update/Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}
