{% extends 'EnglishSpotlightBundle::subnav.html.twig' %}

{% block content %}
        <table class="table table-striped">
            {% for slide in spotlight %}
                <tr>
                    <td>

                        <p><img  class="thumbnail img-responsive" style="max-width: 50%" src="{{ slide.photoUrl }}"
                                alt="{{ slide.title }}" ></p>

                        <strong>
                            {{ slide.title }}
                        </strong>

                        <p>{{ slide.description|raw }}</p>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('spotlight_edit', { 'id': slide.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}